</div>
                    <!--公用底部-->
                    <div class="buybox clearfix">
  <ul>
    <li>
      <img src="/images/tool/font.png"/>
      <p>以图文形式，出售或者购买网站流量</p>
      <a href="/fontlink.htm" target="_blank">购买图文</a>
    </li>
    <li>
      <img src="/images/tool/friend.png"/>
      <p>出售、购买友链，提升自己网站的权重、收录</p>
      <a href="/friendlink.htm" target="_blank">购买友链</a>
    </li>
    <li>
      <img src="/images/tool/exchange.png"/>
      <p>为站长之间提供免费的友情链接交换</p>
      <a href="/friendchange.htm" target="_blank">免费换链</a>
    </li>
    <li>
      <img src="/images/tool/change.png"/>
      <p>以图文广告、文字广告,互换网站流量</p>
      <a href="/flowad.htm" target="_blank">流量交换</a>
    </li>
  </ul>
</div>
 <!--推荐工具-->
<div class="groom-tool">
  <h4>推荐工具</h4>
  <a href="/webtool/friendchain.htm" target="_blank" class="friendchain_tj"><img src="/images/tool/small_yl.png"/></a>
  <a href="/webtool/autochain.htm" target="_blank" class="autochain_tj"><img src="/images/tool/small_wl.png"/></a>
  <a href="/webtool/record.htm" target="_blank" class="record_tj"><img src="/images/tool/small_ba.png"/></a>
  <a href="/webtool/alexatool.htm" target="_blank" class="alexatool_tj"><img src="/images/tool/small_alexa.png"/></a>
  <a href="/whois.htm" target="_blank" class="whois_tj"><img src="/images/tool/small_whois.png"/></a>
</div>
                    <!--公用底部-->
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3" style="padding: 0px;">
                  <!--他的商品、热门推荐-->
                  <script src="/js/jquery.easing.1.3.js"></script>
<div class="recommend">
  <!--他的商品-->
  <div class="he-goods" style="margin-bottom: 20px;display: none;">
    <h4>Ta的商品</h4>
    <div class="good-list">
      
      <table class="table hetable">
        <tr ng-show="list_data.res.friend != null">
          <td><span class="cname" ng-bind="list_data.res.friend.type">友链买卖</span></td>
          <td ng-bind="list_data.res.friend.price">¥150.00/月</td>
          <td>
            <a href="/friendlink.htm?weburl={{list_data.res.friend.url}}" class="buy">购买</a>
          </td>
        </tr>
        <tr ng-show="list_data.res.friend == null">
          <td><span class="gname">友链买卖</span></td>
          <td>未出售</td>
          <td>
            <a href="/member/goods/friendgoods.htm" class="addbtn">出售</a>
          </td>
        </tr>
        <tr ng-show="list_data.res.free != null">
          <td><span class="cname" ng-bind="list_data.res.free.type">免费换链</span></td>
          <td ng-bind="list_data.res.free.price">¥150.00/月</td>
          <td>
            <a href="/friendchange.htm?weburl={{list_data.res.free.url}}" class="buy">交换</a>
          </td>
        </tr>
        <tr ng-show="list_data.res.free == null">
          <td><span class="gname">免费换链</span></td>
          <td>未出售</td>
          <td>
            <a href="/member/freechange/index.htm" class="addbtn">出售</a>
          </td>
        </tr>
        <tr ng-show="list_data.res.pic != null">
          <td><span class="cname" ng-bind="list_data.res.pic.type">图片广告</span></td>
          <td ng-bind="list_data.res.pic.price">¥150.00/月</td>
          <td>
            <a href="/fontlink.htm?weburl={{list_data.res.pic.url}}" class="buy">购买</a>
          </td>
        </tr>
        <tr ng-show="list_data.res.pic == null">
          <td><span class="gname">图片广告</span></td>
          <td>未出售</td>
          <td>
            <a href="/member/twgoods/twgoods.htm" class="addbtn">出售</a>
          </td>
        </tr>
        <tr ng-show="list_data.res.font != null">
          <td><span class="cname" ng-bind="list_data.res.font.type">文字广告</span></td>
          <td ng-bind="list_data.res.font.price">-/-</td>
          <td>
            <a href="/fontlink.htm?weburl={{list_data.res.font.url}}" class="buy">购买</a>
          </td>
        </tr>
        <tr ng-show="list_data.res.font == null">
          <td><span class="gname">文字广告</span></td>
          <td>未出售</td>
          <td>
            <a href="/member/twgoods/twgoods.htm" class="addbtn">出售</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--他的商品-->
  <!--热门推荐-->
  <div class="hot-recommend">
    <div class="title-hot">
      <span>热门商品</span>
      <a href="/friendlink.htm" class="more" target="_blank">更多</a>
    </div>
    <div class="pd018">
      <table class="table hot-table">
              <tr>
          <td>
            <div  class="show_table"> 
              <p>
                <a href="/website_155644.htm" class="wname show_table" target="_blank">触手直播刷人气软件</a>
                <span class="font_yl">文字广告</span>
                
              </p>
              <a href="http://rank.chinaz.com/?host=shen.downbao.com&amp;sortType=0" rel="nofollow" class="vtop" target="_blank"><span class="bei_tu">-</span></a>
              <a href="http://shen.downbao.com" class="sname" target="_blank" rel="nofollow">shen.downbao.com</a>
                      
                  </div>
          </td>
          <td>
            
            <span class="text-yellow">¥10.00</span>
            <p class="text-center mt10"><a class="buy fly79346" ng-click="buyGoods(79346,2)">购买</a></p>
          </td>
        </tr>
              <tr>
          <td>
            <div  class="show_table"> 
              <p>
                <a href="/website_153663.htm" class="wname show_table" target="_blank">男人窝</a>
                <span class="blue_yl">友情链接</span>
                
              </p>
              <a href="http://rank.chinaz.com/?host=www.nanrenwo.net&amp;sortType=0" rel="nofollow" class="vtop" target="_blank"><span class="bei_tu">8</span></a>
              <a href="http://www.nanrenwo.net" class="sname" target="_blank" rel="nofollow">www.nanrenwo.net</a>
                      
                  </div>
          </td>
          <td>
            
            <span class="text-yellow">¥730.00</span>
            <p class="text-center mt10"><a class="buy fly77071" ng-click="buyGoods(77071,2)">购买</a></p>
          </td>
        </tr>
              <tr>
          <td>
            <div  class="show_table"> 
              <p>
                <a href="/website_3337.htm" class="wname show_table" target="_blank">人工智能实验室</a>
                <span class="blue_yl">友情链接</span>
                
              </p>
              <a href="http://rank.chinaz.com/?host=www.ailab.cn&amp;sortType=0" rel="nofollow" class="vtop" target="_blank"><span class="bei_tu">4</span></a>
              <a href="http://www.ailab.cn" class="sname" target="_blank" rel="nofollow">www.ailab.cn</a>
                      
                  </div>
          </td>
          <td>
            
            <span class="text-yellow">¥190.00</span>
            <p class="text-center mt10"><a class="buy fly9600" ng-click="buyGoods(9600,2)">购买</a></p>
          </td>
        </tr>
              <tr>
          <td>
            <div  class="show_table"> 
              <p>
                <a href="/website_38312.htm" class="wname show_table" target="_blank">银河演员网</a>
                <span class="blue_yl">友情链接</span>
                
              </p>
              <a href="http://rank.chinaz.com/?host=www.8fkd.com&amp;sortType=0" rel="nofollow" class="vtop" target="_blank"><span class="bei_tu">6</span></a>
              <a href="http://www.8fkd.com" class="sname" target="_blank" rel="nofollow">www.8fkd.com</a>
                      
                  </div>
          </td>
          <td>
            
            <span class="text-yellow">¥160.00</span>
            <p class="text-center mt10"><a class="buy fly43484" ng-click="buyGoods(43484,2)">购买</a></p>
          </td>
        </tr>
              <tr>
          <td>
            <div  class="show_table"> 
              <p>
                <a href="/website_41684.htm" class="wname show_table" target="_blank">东东网</a>
                <span class="blue_yl">友情链接</span>
                
              </p>
              <a href="http://rank.chinaz.com/?host=www.dongdongliu.com&amp;sortType=0" rel="nofollow" class="vtop" target="_blank"><span class="bei_tu">1</span></a>
              <a href="http://www.dongdongliu.com" class="sname" target="_blank" rel="nofollow">www.dongdongliu.com</a>
                      
                  </div>
          </td>
          <td>
            
            <span class="text-yellow">¥2.00</span>
            <p class="text-center mt10"><a class="buy fly5254" ng-click="buyGoods(5254,2)">购买</a></p>
          </td>
        </tr>
              <tr>
          <td>
            <div  class="show_table"> 
              <p>
                <a href="/website_60474.htm" class="wname show_table" target="_blank">6680电影网</a>
                <span class="img_yl">图片广告</span>
                
              </p>
              <a href="http://rank.chinaz.com/?host=www.6680dy.com&amp;sortType=0" rel="nofollow" class="vtop" target="_blank"><span class="bei_tu">2</span></a>
              <a href="http://www.6680dy.com" class="sname" target="_blank" rel="nofollow">www.6680dy.com</a>
                      
                  </div>
          </td>
          <td>
            
            <span class="text-yellow">¥29.00</span>
            <p class="text-center mt10"><a class="buy fly45898" ng-click="buyGoods(45898,2)">购买</a></p>
          </td>
        </tr>
        
      </table>
    </div>
    
  </div>
  <!--热门推荐-->
  <div style="margin-top: 10px;">
    <script src="//www.2898.com/index/flowexchange/getGoods?id=923&sign=b39e142ca931812d11997a322722be20"></script>
  </div>
</div>
                
                </div>
            </div>
        </div>
    </div>
<!-- main -->
</div>

<script type="text/javascript" src="/js/factory/directive.js"></script>
<script>
  var rmtj = null;
  var wei = "";
  var souUrl = null;
    $('.list-tab a[mark="whois"]').addClass('active').siblings().removeClass('active')
</script>

<!-- 底部区域 默认白色  蓝色添加类名 footer-blue -->
<div class="footer-zone footer-blue">  
    <div class="container">
        <dl class="pull-left">
            <dt>
              <span class="icon-buyer"></span>
              我是买家
            </dt>
            <dd>
              <a href="/friendlink.htm" target="_blank">购买友情链接</a>
            </dd>
            <dd>
              <a href="/fontlink.htm" target="_blank">购买图文广告</a>
            </dd>
            <dd>
              <a href="/web_exchange.htm" target="_blank">购买网站</a>
            </dd>
            <dd>
              <a href="/notices.htm?mark=buy" target="_blank">买家须知</a>
            </dd>
        </dl>
        <dl class="pull-left">
            <dt>
              <span class="icon-seller"></span>
              我是卖家
            </dt>
            <dd>
              <a href="/member/goods/friendgoods.htm" target="_blank">出售友情链接</a>
            </dd>
            <dd>
              <a href="/member/twgoods/twgoods.htm" target="_blank">出售广告</a>
            </dd>
            <dd>
              <a href="/member/websitetrade/sellwebsite.htm" target="_blank">出售网站</a>
            </dd>
            <dd>
              <a href="/notices.htm?mark=sell" target="_blank">卖家须知</a>
            </dd>
        </dl>
        <dl class="pull-left">
            <dt>
              <span class="icon-exchange"></span>
              站长交换
            </dt>
            <dd>
              <a href="/friendchange.htm" target="_blank">交换友情链接</a>
            </dd>
            <dd>
              <a href="/flowad.htm" target="_blank">网站流量交换</a>
            </dd>
            <dd>
              <a href="/changenotices.htm" target="_blank">流量交换指引</a>
            </dd>
            <dd>
              <a href="/notices.htm?mark=exchange" target="_blank">交换须知</a>
            </dd>
        </dl>
        <dl class="pull-left" style="margin: 0px;">
            <dt>
              <span class="icon-tool"></span>
                站长工具
            </dt>
            <dd class="clearfix">
              <!--<a class="pull-left" href="javascript:void(0)" target="_blank">综合查询</a>
              <a class="pull-right" href="javascript:void(0)" target="_blank">百度权重</a>-->
               <a class="pull-left" href="/webtool/record.htm" target="_blank">备案查询</a>
            </dd>
            <dd class="clearfix">
              <a class="pull-left" href="/webtool/friendchain.htm" target="_blank">友链检测</a>
             
            </dd>
            <dd class="clearfix">
              <a href="/webtool/autochain.htm" mark="auto" target="_blank" class="pull-left">超级外链</a>
            
              <!--<a href="javascript:void(0)" target="_blank">Whois</a>-->
            </dd>
            <dd class="clearfix">
              <a href="//cdn.2898.com/webtool/alexatool.htm" mark="paiming" target="_blank" class="pull-left">Alexa排名工具</a>
            </dd>
        </dl>
        
        <dl class="pull-left" style="margin: 0px;">
            <dt>
              <span class="icon-zyzx"></span>
                专员咨询
            </dt>
            <dd class="clearfix mb0">
                <span class="lx_huo">
                     <a target=blank href=https://wpa.qq.com/msgrd?V=3&uin=3479245214&Site=QQ客服&Menu=yes >
                       <i class="kefu_QQ"></i><img border="0" src="/images/icon/qq_mfhl.png" alt="点击这里给我发消息" style="float:left;">
                     </a>
                </span>
            </dd>
            <dd class="clearfix mb0">
                <span class="lx_huo">
                     <a target=blank href=https://wpa.qq.com/msgrd?V=3&uin=2678646391&Site=QQ客服&Menu=yes >
                       <i class="kefu_QQ"></i><img border="0" src="/images/icon/qq_wzgg.png" alt="点击这里给我发消息" style="float:left;">
                     </a>
                </span>
            </dd>
            <dd class="clearfix mb0">
              <span class="lx_huo">
                     <a target=blank href=https://wpa.qq.com/msgrd?V=3&uin=2147956297&Site=QQ客服&Menu=yes >
                       <i class="kefu_QQ"></i><img border="0" src="/images/icon/qq_wzjy.png" alt="点击这里给我发消息" style="float:left;">
                     </a>
                </span>
            </dd>
            <dd class="clearfix mb0">
              <span class="lx_huo">
                     <a target=blank href=https://wpa.qq.com/msgrd?V=3&uin=1354852549&Site=QQ客服&Menu=yes >
                       <i class="kefu_QQ"></i><img border="0" src="/images/icon/qq_lljh.png" alt="点击这里给我发消息" style="float:left;">
                     </a>
                </span>
            </dd>
        </dl>
        
        

        <dl class="pull-right" style="margin-left: 50px;">
            <dd style="margin-bottom:12px;padding:0"><img src="//cdn.2898.com/images/app/andriod_load.png" alt="APP下载" width="117px"></dd>
            <dd style="text-align:center;padding:0;color:#a1a4b3">APP下载</dd>
        </dl>
        <dl class="pull-right">
            <dd style="margin-bottom:12px;"><img src="//cdn.2898.com/images/demo/weixin-code.png" alt="微信公众号" width="117px"></dd>
            <dd style="text-align:center;color:#a1a4b3">微信公众号</dd>
        </dl>

        <dl class="pull-left" style="width: 100%;margin:0;">
          <dd style="text-align:center;margin-bottom:15px;">
            <a href="/about_us.htm" target="_blank">关于我们2898</a>
            <span class="icon-dot"></span>
            <a href="/contact_us.htm" target="_blank">联系方式</a>
            <span class="icon-dot"></span>
            
                             <a href="/contribute.htm" target="_blank">软文投稿</a>
                        <span class="icon-dot"></span>
            <a href="/user_feedback.htm" target="_blank">投诉建议</a>
            <span class="icon-dot"></span>
            <a href="/question.htm" target="_blank">帮助中心</a>
          </dd>
        </dl>
    </div>
</div>

<!-- 底部 信息 -->
<div class="footer-msg">
    <span>Copyright (C) 2018 站长资源平台 All Rights Reserved</span>
    <a class="has-icon" href="javascript:void(0)">
      <img src="//cdn.2898.com/images/beian.png">
      <span> 闽ICP备16014520号-1</span>
   </a>
</div>

<!-- 公用提示窗口 -->
<div class="modal fade modal-blue modal_tips" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
        <div class="panel-body text-blue text-center" style="word-wrap: break-word;">
            <div style="line-height: 1.8;font-size: 16px;" class="modal_tips_text">没有提示内容...</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-blue modal_tips_no" data-dismiss="modal">返回</button>
        <button type="button" class="btn btn-info modal_tips_yes" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>

<!-- 公用限时窗口 -->
<div class="modal fade modal-blue modal_time" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document" style="margin-top: 300px">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel-body text-blue text-center" >
            <h4 style="line-height: 1.8;color: #666;word-wrap:break-word;word-break:break-all;" class="modal_time_text">没有提示内容...</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!--检测中-->
<div class="modal fade modal-blue modal_cue" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document" style="margin-top: 300px">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel-body text-blue text-center" >
            <h4 style="line-height: 1.8;color: #808080;font-size: 16px;" class="modal_time_text">友链检测中...</h4>
            <img src="//cdn.2898.com/images/tool/loading.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<!-- 右侧打开加 open -->
<div class="menu-right">
  <div class="menu-right-goods">
    <div class="menu-right-header">
      <span class="icon-cart"></span>
      <span class="header-text">购物车</span>
      <span class="icon-close menu_right_close" ></span>
    </div>
    <div class="menu-right-con" >
      <ul ng-repeat="(key,val) in common.itemDataList" >
         <h1 ng-bind="val.title" ng-show="val.count>0"></h1>
        <li ng-repeat="(key1,val1) in val.data">
          <div class="web_title">
            <span class="label-box" ng-bind="val1.catename"></span>
            <h3  class="con-title" ng-bind="val1.webname" ng-show="val.title=='友情链接' || val.title=='图文广告'" title="{{val1.webname}}"></h3>
            <h3 ng-show="val.title=='网站交易'" class="con-title" ng-bind="val1.point" title="{{val1.point}}"></h3>
          </div>
          <span class="con-text" >
            网站地址：
            <span class="web_url" ng-bind="val1.goodsurl" title="{{val1.goodsurl}}"></span>
          </span>
          <p class="web_weight">
            权重：
            <span class="tuwen bai_du" style="margin-right: 36px" ng-bind="val1.bdweight"></span>
            PR值：
            <span class="tuwen pr"  ng-bind="val1.pr"></span>
          </p>
          <p>
            IP值：<xfan ng-bind="val1.ip"></xfan>
            <xfan ng-show="val.title=='友情链接'" style="margin-left: 20%;">
              位置：
              <span ng-bind="{true:'全站',false:'首页'}[val1.is_qz == 1]">全站</span>             
            </xfan>
          </p>
          <div class="clearfix">
            <span class="con-price">￥<span ng-bind="val1.price"></span><ss ng-hide="val.title=='网站交易'">/月</ss></span>
            <span class="con-btn" ng-click="common.delItem(val1.gid)">删除</span>
          </div>
        </li>
      </ul>

      <!-- 购物车没有商品时显示 默认隐藏 -->
      <div class="menu-right-empty " ng-class="{'hidden': common.itemNum*1>0}">
        <img src="/images/bg/shopping.png">
        <p>购物车空空，快去选购一下哦！</p>
      </div>
    </div>
    <div class="menu-right-footer">
      <div class="clearfix ">
        <span class="footer-left">已选 <span class="text-yellow" ng-bind="common.itemNum"></span> 个网站</span>
        <span class="footer-right">共计： <span class="text-yellow" ng-bind="common.itemPrice"></span></span>
      </div>
      <a href="/index/goods/submit_order" ng-show="common.itemNum>0">
        <span class="btn btn-info center-block">去购买</span>
      </a>
      <span class="btn center-block" style="background: gray;color: #fff;" ng-show="common.itemNum==0">去购买</span>
    </div>
  </div>
  <ul class="menu-right-btns">
    <li class="" onclick="window.open('/member/account/member.htm')">
       <div>
         <span class="title">会员中心</span>
          <span class="icon icon-person"></span>
       </div> 
    </li>
    <li  style="position: relative">
      <div class="kefu">
        <span class="title">客服</span>
        <span class="icon icon-service"></span>
      </div>
      <b style=" position: absolute;top: 7px; left: 66px;opacity: 0;z-index: 999;"><script charset="utf-8" type="text/javascript" src="//wpa.b.qq.com/cgi/wpa.php?key=XzgwMDE4NTQ4OV80ODI2ODlfODAwMTg1NDg5Xw"></script></b>
    </li>
    <li class="menu_right_btn" >
      <div>
        <span class="title">购物车</span>
        <span class="icon icon-shop" ng-click="common.CartLogin()"></span>
        <span class="badge"  ng-bind="common.itemNum"></span>
      </div>
    </li>
    <li class="hidden">
      <div>
        <span class="title">加盟</span>
        <span class="icon icon-hands"></span>
      </div>
    </li>
    <li class="" onclick="window.open('/user_feedback.htm')">
      <div>
        <span class="title">意见反馈</span>
        <span class="icon icon-pen"></span>
      </div>
    </li>
    <li class="" onclick="window.open('/appdown.htm')">
      <div>
        <span class="title">APP下载</span>
        <span class="icon icon-code"></span>
      </div>
    </li>
    <li class="go_top">
      <div>
        <span class="title">顶部</span>
        <span class="icon icon-up"></span>
      </div>
    </li>
  </ul>
</div>
