<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
    <meta content="webkit" name="renderer">
    <meta name="sogou_site_verification" content="VWPBtuptoZ"/>
    <title>域名信息查询_whois_whois查询_whois信息查询_域名whois</title>
    <meta content="域名注册信息查询,whois,whois查询,whois信息查询,域名whois-站长工具-站长资源平台" name="keywords">
    <meta content="2898站长资源平台为站长提供便捷的网站备案查询工具，本工具更新查询速度快，方便站长实时查询网站备案情况，用户可以通过域名查询该域名是否有备案及相关的ICP备案许可信息。" name="description">
    <link rel="shortcut icon" href="/images/zhan1.ico"/>

    <link rel="stylesheet" type="text/css" href="//cdn.2898.com/js/bootstrap/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//cdn.2898.com/js/jquery.page/jquery.page.css" />
    <link type="text/css" rel="stylesheet" href="//cdn.2898.com/js/fontAwesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="//cdn.2898.com/css/bootcommon.css?v=20180903" />
    <script type="text/javascript" src="//cdn.2898.com/js/jquery.js"></script>
    <script type="text/javascript" src="//cdn.2898.com/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.2898.com/js/jquery.page/jquery.page.js"></script>
    <script type="text/javascript" src="//cdn.2898.com/js/highcharts.js"></script>
    <script type="text/javascript" src="//cdn.2898.com/js/jquery-cookie.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script type="text/javascript">
       window.console = window.console || (function () {
                   var c = {}; c.log = c.warn = c.debug = c.info = c.error = c.time = c.dir = c.profile
                           = c.clear = c.exception = c.trace = c.assert = function () { };
                   return c;
               })();
    </script>
    <script type="text/javascript">
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?336b5eef96e9764e77af03e6ad4abc73";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
  </script>
  <script src="https://s95.cnzz.com/z_stat.php?id=1260210026&web_id=1260210026" language="JavaScript"></script>
  <script type="text/javascript">
    $(function(){
      if((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {  
      $('.nav-more').removeClass('dropdown')  
      } 
    })
    
 </script>
</head>
<body ng-app="application" class="body-width ng-app:application" id="ng-app">
<!-- 导航盒子 -->
<div class="navbox header_togo" ng-controller="topCtrl">

  <div>
<!-- 导航顶部 -->
<nav class="navbar  navbar-top" style="background: #ffffff;">      <!--如果要换会手机上  菜单栏变按钮的   加类名  navbar-default  和开启下面隐藏的-->
  <div class="container">
    <!--<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-top" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>-->

    <div class="top_2898">        <!-- <div class="collapse navbar-collapse" id="navbar-collapse-top" aria-expanded="false">--> <!--换菜单按钮的改成这个-->

    <ul class="nav navbar-nav navbar-left" style="margin-left: -15px;">
      <li><a href="/">首页</a></li>
        <li><a href="/news/">站长资讯</a></li>
        <li><a href="/interview/">站长访谈</a></li>
        <li class="dropdown navbar-more-dropdown">
          <a href="/webtool.htm" class="dropdown-toggle">站长工具<span class="navbar-more-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/webtool/friendchain.htm">友链检测</a></li>
            <li><a href="/webtool/record.htm">备案查询</a></li>
                <li><a href="/apply_include.htm">申请收录</a></li>
                <li><a href="/whois.htm">whois查询</a></li>
              <li><a href="/webtool/autochain.htm">自动外链工具</a></li>
              <li><a href="/webtool/alexatool.htm">Alexa排名工具</a></li>
              
          </ul>
        </li>
        <!--<li><a href="javascript:void(0)" target="_blank">站长APP</a></li>-->
    </ul>

      <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                    <li>
              <a href="/index/integral/invite_friends.htm">
                  <span class="head_invite">邀请好友</span>
              </a>
          </li>
          <li>
              <a href="/index/integral/index.htm">
                  <span class="head_sign">签到</span>
              </a>
          </li>
                  <li class="dropdown navbar-more-login">
          <a href="/member/account/member.htm" class="dropdown-toggle"   target="_blank">
            新进站长_3549                <span class="navbar-more-level0">
                    <img src="/images/jf/space1.png" width="26px" height="12px" style = "margin-bottom: 8px;">
                </span>
            <span  style="margin-left: 25px"  class="navbar-more-down"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="clearfix pd105">
              <img ng-src="//cdn.2898.com/images/headimg.png" onerror="this.src='/images/headimg.png';" class="user-img">
              <div class="user-info">
                <div class="user-login">
                  <a href="/member/account/member.htm" target="_blank">个人信息</a>
                  <span class="line-separate">|</span>
                  <a href="/member/account/login_out.htm">退出</a>
                </div>
                  <a href="/index/integral/growth_process.htm">
                      <div class="user-level0">
                          <img src="/images/jf/vip1.png"/>
                      </div>
                  </a>
                  <a href="/member/account/personal.htm">
                      <div class="user-money">
                          账户余额：<span class="text-red">0.28</span>元
                      </div>
                  </a>
                  <a href="/member/account/integral_detail.htm">
                      <div class="user-money" style="margin-top: 8px">
                          积分：<span class="text-red">74</span>积分
                      </div>
                  </a>
              </div>
            </li>
          </ul>
          <div class="line-border"></div>
        </li>
        <li>
          <a href="/index/goods/submit_order.htm">
              <!--<span class="glyphicon glyphicon-shopping-cart mr5"></span>-->
             <!--<span class="shop_cart">购物车(0)</span>-->
              <span class="shop_cart">购物车(<xfan ng-bind="common.itemNum"></xfan>)</span>
          </a>
          <div class="line-border"></div>
        </li>
        <li><a href="javascript:void(0)" class="messbtn" ng-click = "checkAll()">消息(9)</a></li>
                <li class="dropdown navbar-more-dropdown">
          <a style="padding-right: 0;" href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">帮助中心 <span class="navbar-more-down" ></span></a>
          <ul class="dropdown-menu">
            <li><a href="/question/con-zhifu/4.htm">如何充值？</a></li>
            <!--<li><a href="/question/con-zhifu/4.htm">充值问题？</a></li>-->
            <li><a href="/question/con-jiaoyi/9.htm">如何提现？</a></li>
            <li><a href="/question/con-dayi/2/2.htm">卖家如何接单？</a></li>
            <li><a href="/question/con-dayi/7/7.htm">买家如何确认上链？</a></li>
            <li><a href="/question.htm?mark=con-wzjy">网站交易规则说明？</a></li>
            <li><a href="/changenotices.htm">流量交换指引？</a></li>
          </ul>
          <div class="line-border"></div>
        </li>
      </ul>

    </div>
  </div>
</nav>

<!-- 导航 菜单 -->
<nav class="navbar navbar-menu" >     <!-- navbar-default -->
  <div class="container">
    <div class="navbar-header pull-left">
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->

      <a class="navbar-brand" href="/">
        <img alt="2898" src="/images/2898logo.png">    
      </a>
    </div>

    <div class="clearfix navmenu" style="margin-left: 10px;position: relative">   <!-- class="collapse navbar-collapse" id="navbar-collapse-menu"-->

      <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
        <li class=""><a href="/">首页</a></li>

        <!-- <li class=""><a href="/fontlink.htm">图文广告</a></li> -->
        <li  class="dropdown nav-more ">
          <a href="/fontlink.htm" class="dropdown-toggle" >
              网站广告
            <!-- <span class="navbar-more-down"></span> -->
          </a>
          <ul class="dropdown-menu" >
            <li><a class="man" href="/fontlink.htm">网站广告</a></li>
            <li><a href="/fontlink_font.htm">文字广告</a></li>
            <li><a href="/fontlink_img.htm">图片广告</a></li>
          </ul>
        </li>
        <!--<li class=""><a href="/weixin.htm">微信广告</a></li>-->
        <!-- <li class=" hidden"><a href="/friendlink.htm">友链买卖</a></li> -->
        <li  class="dropdown nav-more ">
          <a href="/friendlink.htm" class="dropdown-toggle" >
            友链买卖
            <!-- <span class="navbar-more-down"></span> -->
          </a>
          <ul class="dropdown-menu" style=" ">
            <li><a class="man" href="/friendlink.htm">友链买卖</a></li>
            <li><a href="/friendlink_link2.htm">2元链接</a></li>
            <!--<li><a href="/friendlink.htm?fast=link3">3-5元链接</a></li>
            <li><a href="/friendlink.htm?fast=link5">5-10元链接</a></li>-->
            <li><a href="/friendlink_link_good.htm">优质链接</a></li>
            <li><a href="/friendmeal.htm">友链套餐</a></li>
          </ul>
        </li>
        <li class=""><a href="/web_exchange.htm">网站交易</a></li>
        <li class=""><a href="/friendchange.htm">免费换链</a></li>
          <li  class="dropdown nav-more ">
          <a href="/flowad.htm" class="dropdown-toggle icon-rednew">
              流量交换
          </a>
          <ul class="dropdown-menu" >
              <li><a class="man " href="/flowad.htm">流量交换</a></li>
              <li><a href="/flowad.htm">免费交换</a></li>
              <li><a href="/index/buy_flow/set_infro.htm">购买流量</a></li>
          </ul>
          </li>
        <li class=""><a href="/webmain.htm" >网站排行</a></li>
        <!-- <li><a href="javascript:void(0)">
            <span class="btn btn-info icon-hot" style="width: 100px">加盟</span>
        </a></li> -->
        <li class="dropdown-btns" style="padding-right: 0;">
          <div class="dropdown ">
            <a href="javascript:void(0)" class="dropdown-toggle btn btn-info icon-hot" >出售/交换 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/member/twgoods/twgoods.htm">出售图文广告</a></li>
              <li><a href="/member/goods/friendgoods.htm">出售友情链接</a></li>
              <li><a href="/member/freechange/release.htm">免费换链</a></li>
              <li><a href="/member/trafficexchange/index.htm">流量交换</a></li>
              <li><a href="/member/websitetrade/sellwebsite.htm">网站交易</a></li>
            </ul>
          </div>
        </li>
      </ul>

    </div>

  </div>
</nav>
  </div>
</div>

    <!--消息弹窗-->
    <div class="modal fade message_case modal-blue" id="myModal-5" data-backdrop="static"  ng-controller = "msg"> 
      <div class="modal-dialog" style="width:760px;height:auto">
        <div class="modal-content acc-con" >
          <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">消息盒</h4>
            </div>
          <div class="modal-body" style="padding-top: 20px;" >
            <form class="form-horizontal form-info pd0" >
              <div class="messagelist" id = "list" >
                <ul>
                    <div ng-show="allMsg == ''" class="text-center">
                        <img src="/images/msg_null.png" width="450px" height="300px" style="margin: 0px auto;">
                    </div>
                  <li  ng-class = "{true:'newmess',false:'graycolor'}[item.isread == 0]" ng-repeat = "item in allMsg">
          <span class="icon-checkbox pull-left" ng-class="{checked:item.checked}" ng-click="checkItem($index)"></span>
          <b class="pull-left" style="display: inline-block;width: 70px;">[<ss ng-bind = "item.type"></ss>]</b>
          <ss ng-bind = "item.info" class="ss"></ss>
          <span ng-bind = "msgTime(item.atime)"></span>
          </li>
         
                </ul>
              </div>
              <div class="pl5 clearfix" ng-show="allMsg">
        <span class="icon-checkbox pull-left" ng-class="{checked: checked}" ng-click="checkItem('all')" style="margin-top: 8px;"></span><span>全选</span>
        <button class="btn btn-info" ng-click="reads()">标为已读</button>
        <!--<button class="btn btn-info" ng-click="delmsg()">删除</button>-->
        <div class="page-num pull-right ml10" style="margin-top: 4px">
                    <a href="/member/account/message_list" target="_blank" class="btn btn-info">查看全部</a>
                </div>
        </div>
          
            </form>
          </div>
        </div>
      </div>
    </div>
        <script type="text/javascript">
          var message = "";
          //console.log(message)
        </script>
    <!--消息弹窗-->

<link type="text/css" rel="stylesheet" href="/static/css/seolist.css" />
<div class="main-block" ng-controller="articleControl">
  <!--banner-->
  <div class="search-head">
    <div class="head-logo">
        <a href="/webtool.htm"><img src="/images/tool/logo-zzgg.png"></a>
    </div>
</div>

  <!-- main -->
    <div class="main">
      <div class="head-tab">
    <div class="list-tab">
        <a href="/webtool.htm" mark="home">首页</a>
        <a href="/webtool/friendchain.htm" mark="flink" >友链检测</a>
        <a href="/webtool/record.htm" mark="record" >备案查询</a>
        <a href="/whois.htm" mark="whois" >whois查询</a>
        <a href="/webtool/autochain.htm" mark="auto" >超级外链</a>
        <a href="/webtool/alexatool.htm" mark="paiming" >Alexa排名工具</a>
    </div>
</div>

        <div class="container" style="padding:0px;width:1200px">
      <div class="webtool_nav" style="margin-bottom: 10px;">
    <ol style="padding: 0 0 0 10px;" >
        <li><a href="/webtool.htm" class="font-gray"><i class="fa fa-home font-gray"></i>当前位置：首页&nbsp;&gt;&nbsp;</a></li>
                <li>whois查询</li>
            </ol>
    <div class="right_side sellercenter">
        <a href="/apply_include.htm" target="_blank">申请收录</a>
    </div>
</div>


            <div class="row" style="margin-right: 0" >

                <div class="col-md-9 col-xs-9 col-sm-9">
                    <div class="right-box">