{include file="tool/header"}
<script type="text/javascript" src="/static/js/jf.js"></script>
<div class="s_top clearfix">
      <h1>在线简体、繁体、火星文转换：</h1>
                <input onClick="paste('txt')" type="button" class="search_but" value="粘贴"> <input class="search_but" onClick="convert(0)" type="button" value="转化为简体"> <input onClick="convert(1)" type="button" class="search_but" value="转化为繁体"> <input class="search_but" onClick="convert(2)" type="button" value="转化为QQ个性繁体(火星文)"> <input class="search_but" onClick="copy('txt')" type="button" value="复制"> <input class="search_but" onClick="cut('txt')" type="button" value="剪切"> <input class="search_but" onClick="txt.value=''" type="button" value="清空"><br/><br/><textarea id="txt" rows="15" cols="95" value=""></textarea>
    </div>
    <!--初始空白页-->
    <div class="tool-jj">
      <div class="ps_cues">
        <h5>简介</h5>
        <p>提供在线的在线简体、繁体、火星文转换</p>    
      </div>
    </div>
<script type="text/javascript">
  $('.search_btn').on('click',function(){
    var url= $('#domain');
    url = url.val().replace('/\s+/g',"");
    if(url == ''){
      alert('请输入您要查询的网站');
    }else{
      window.location.href="{:url('alexa')}?url="+url;
    }
  })
</script>
{include file="tool/footer"}