{include file="tool/header"}
<div class="s_top clearfix">
  <div class="whois-title">友情链接检测工具</div>
  <div class="clearfix top_box">
    <span class="pull-left http">http://</span>
    <div class="search_whois pull-left">
      <input type="text" id="domain" name="domain" value="{$url}" placeholder="请输入您要查询的网站"/>
      <span class="search_btn">查询</span>
    </div>
  </div>
  
</div>
{eq name="isget" value="1"}
<div class="cl-show">
  <div class="s_middle">
    <div class="clearfix mtb912">
      <h5 class="pull-left m0">网站 <span>{$url}</span> 反链</h5>
    </div>
    <div class="" style="margin-bottom: 20px;">
    <table class="table beian-table whois_tab">
        <colgroup>
          <col width="25%" style="background: #f6f6f6;">
          <col width="30%">
          <col width="15%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
        </colgroup>
        <tbody>
          <tr>
            <td>序号</td>
            <td>被查询网址</td>
            <td>检查结果</td>
            <td>PR</td>
            <td>百度收录</td>
            <td>百度快照</td>
          </tr>
          {volist name="list" id="vo"}
            <tr>
            <td>{$key}</td>
            <td><a href="{$vo['k']}" target="_blank">{$vo['text']}</a></td>
            <td><span id="link_{$key}"><img src="/static/images/loading.gif" border="0"></span><iframe frameBorder="0" width="0" scrolling="no" height="0" src="?url={$vo['url2']}&url2={$vo['k']}&id={$key}&{$vo['rand']}" name="iframe{$key}"></iframe></td>
            <td><span id="pr_{$key}"><img src="/static/images/loading.gif" border="0"></span><iframe frameBorder="0" width="0" scrolling="no" height="0" src="{:url('links_pr')}?url={$vo['k']}&id={$key}"></iframe></td>
            <td><span id="baidu_{$key}"><img src="/static/images/loading.gif" border="0"></span><iframe frameBorder="0" width="0" scrolling="no" height="0" src="{:url('links_baidu')}?url={$vo['k']}&id={$key}"></iframe></td>
            <td><span id="baidut_{$key}"><img src="/static/images/loading.gif" border="0"></span><iframe frameBorder="0" width="0" scrolling="no" height="0" src="{:url('links_baidut')}?url={$vo['k']}&id={$key}"></iframe></td>
          </tr>
          {/volist}
        </tbody>
      </table>
    </div>
  </div>
</div>
{/eq}
<!--初始空白页-->
<div class="tool-jj">
  <div class="ps_cues">
    <h5>友情链接检测</h5>
    <p>最高效的友情链接检查工具，帮您快速检测网站自身以及外部链接站点的SEO概况和是否相互链接等；</p>
    <p>格式必须是http://www.开始的模式</p>    
  </div>
</div>
<script type="text/javascript">
  $('.search_btn').on('click',function(){
    var url= $('#domain');
    url = url.val().replace('/\s+/g',"");
    if(url == ''){
      alert('请输入您要查询的网站');
    }else{
      window.location.href="{:url('links')}?url="+url;
    }
  })

</script>
{include file="tool/footer"}


