{include file="tool/header"}
<div class="s_top clearfix">
  <div class="whois-title">查看关键词在百度搜索引擎中的排名</div>
  <div class="clearfix top_box">
    <span class="pull-left http">http://</span>
    <div class="search_whois pull-left">
      <input type="text" id="domain" name="domain" value="{$url}" placeholder="请输入您要查询的关键词"/>
      
      <span class="search_btn">查询</span>
    </div>
    <div class="t-con buybox">
      <label class="check mr30"><input name="radiobutton" value="baidu" class="none" mark="1" type="radio" checked="checked"><b></b>baidu</label>
      <label class="check mr30"><input name="radiobutton" value="google" class="none" mark="1" type="radio"><b></b>google</label>
    </div>
  </div>
  
</div>
{eq name="isget" value="1"}
<div class="cl-show">
  <div class="s_middle">
    <div class="clearfix mtb912">
      <h5 class="pull-left m0">网站 关键词排名</h5>
    </div>
    <div class="" style="margin-bottom: 20px;">
    <table class="table beian-table whois_tab">
        <colgroup>
          <col width="100%" style="background: #f6f6f6;">
        </colgroup>
        <tbody>
          {neq name="pos" value="0"}{}
          <tr>
            <td>您网站的关键词 在 搜索结果中排名第 {$pos} </td>
          </tr>
          {else/}
          <tr>
            <td>很遗憾, 您网站里的关键字没有进 的前100位</td>
          </tr>
          {/neq}
        </tbody>
      </table>
    </div>
  </div>
</div>
{/eq}
<!--初始空白页-->
<div class="tool-jj">
  <div class="ps_cues">
    <h5>查看关键词在百度搜索引擎中的排名</h5>
    <p>输入格式例如: www.hahacn.com:站长 (网站地址:关键字) 只检索搜索引擎前100位, 再往后将不检测 请注意: hahacn.com和www.hahacn.com是不一样的</p>    
  </div>
</div>
<script type="text/javascript">
  $('.search_btn').on('click',function(){
    var url= $('#domain');
    url = url.val().replace('/\s+/g',"");
    if(url == ''){
      alert('请输入您要查询的网站');
    }else{
      window.location.href="{:url('position')}?value="+url+'&radiobutton='+$('[name="radiobutton"]').val();
    }
  })

</script>
{include file="tool/footer"}


