{include file="tool/header"}
<script type="text/javascript" src="/static/js/py.js"></script>
<div class="s_top clearfix">
      <FORM name=form1>
                    <INPUT onclick=document.form1.code2.value=(trans()) class="search_but" type=button value=查拼音 name=Submit> 
                    <INPUT onclick=resetAll() type=button value=重来 class="search_but" name=reset> <INPUT type=reset class="search_but" value=初始>  <input onclick='code2.select();document.execCommand("Copy")' type="button" name="Submit" class="search_but" value="复制拼音"><br>
                    <TEXTAREA onclick='code.select()' name=code class="pytexds" wrap=VIRTUAL>汉语转拼音</TEXTAREA>
                    <TEXTAREA name=code2 readOnly class="pytexds" wrap=VIRTUAL></TEXTAREA> 
                </FORM>
    </div>
    <!--初始空白页-->
    <div class="tool-jj">
      <div class="ps_cues">
        <h5>汉语转拼音</h5>
        <p>本字典可以识别二万多汉字(包括繁简体,多音字)的拼音，并能标出声调</p>    
      </div>
    </div>
<script type="text/javascript">
  function trans(){
  var cc=document.form1.code.value;
  var str='';
  var s;
  for(var i=0;i<cc.length;i++){
    if(pydic.indexOf(cc.charAt(i))!=-1&&cc.charCodeAt(i)>200){
      s=1;
      while(pydic.charAt(pydic.indexOf(cc.charAt(i))+s)!=","){
        str+=pydic.charAt(pydic.indexOf(cc.charAt(i))+s);
        s++;
      }
      str+=" ";
    }
    else{
      str+=cc.charAt(i);
    }
  }
  return str;
}

function resetAll(){
  document.form1.code.value="";
  document.form1.code2.value="";
}
</script>
{include file="tool/footer"}