{include file="header"}
<div class="container">
<div class="container-bd">
     <div class="article-wrap" style="width:960px;margin:0 auto 10px auto; overflow: hidden;">
   <div class="article-left">
   <div class="list-title">
   <h3><a href="{dede:field name='typeurl'/}">{$ctype}</a></h3>
   </div><div class="list-title" style="border: none;">
   <ul>{volist name="type" id="vo"}<li><a href='{:url('mlist/'.$vo['id'])}'>{$vo['typename']}</a></li>{/volist}</ul>
   </div><!-- /list-title -->
       <div class="row-item">{volist name="clist" id="vo"}
      <div class="row-item-new">
     <div class="row-item-t"><h3><a href="{:url('mlist/'.$vo['id'])}">{$vo['typname']}</a></h3>
     <a href="{:url('mlist/'.$vo['id'])}"><span>更多</span></a></div>
     {notempty name="vo['tui']"}
        <div class="row-item-c">
     <h4><a href="{:url('detail/'.$vo['tui']['id'])}">{$vo['tui']['title']|mb_substr=0,20}</a></h4>
     <p>{$vo['tui']['description']}...</p>
     </div>
      {/notempty}
     <ul>{volist name="vo['new']" id="vv"}
        <li><em>{$vv['addtime']|date='m-d',###}</em>
     <a href="{:url('detail/'.$vv['id'])}" target="_blank">{$vv['title']|mb_substr=0,18}</a> </li>
      {/volist}
     </ul>
     </div><!-- /row-item-new -->
    {/volist}
     </div><!-- /row-item --><div class="cl"></div>
   </div><!-- /article-left -->
<!-- article-right  -->
{include file="right"}
</div></div>  
</div><div class="c1 container-bottom"></div></div>
{include file="footer"}