<div class="login_2016 login_2016_login">
	<div class="ceng16_hui"></div>
	<div class="login_16" id="login">
		<div class="login_tit">会员登录<a class="login_bg login_close"></a></div>
		<div class="login_con"><input type="text" class="login_con_in login_bg login_con_in1" value="" id="_account" onblur="this.style.borderColor=\'#dae2e5\'; this.style.color=\'#999999\';" placeholder="账号" onfocus="this.style.borderColor=\'#95c8ef\'; this.style.color=\'#666666\';" maxlength="30"><input type="password" class="login_con_in login_bg login_con_in2" id="_pwd" onblur="this.style.borderColor=\'#dae2e5\';this.style.color=\'#999999\';" onfocus="this.style.borderColor=\'#95c8ef\';this.style.color=\'#666666\';" placeholder="密码" value="" maxlength="30">
			<div class="login_bg login_wrongtxt"></div>
			<input type="button" class="login_btn" value="登  录">
			<div class="zhuce"><span> <i><a href="http://bbs.hahacn.com/forget.html">忘记密码？</a></i> <a href="http://bbs.hahacn.com/reging.html">立即注册</a></span><label for="_al"><input type="checkbox" value="1" id="_al">记住登录状态</label></div>
		</div>
	</div>
</div>