<div class="g_box2 u_2">
      <div class="t_1"> 关注 </div>
      <ul class="menu">
        
        <li><a href='/a/focus/jiaoyu/'>教育</a></li>
        
        <li><a href='/a/focus/tiyu/'>体育</a></li>
        <li><a href='/a/focus/junshi/' class='on'>军事</a></li>
        <li><a href='/a/focus/wangluo/'>网络</a></li>
        
        <div class="clear"> </div>
      </ul>
    </div>
    <script type="text/javascript">
        (function() {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div class="ban_251" style="" id="' + s + '"></div>');
            (window.slotbydup = window.slotbydup || []).push({
                id: "u3138445",
                container:  s
            });
        })();
    </script>
    <div class="g_box2 u_2">
      <div class="t_1"> 最新资讯 </div>
      <ul class="b_box3 u_1">
        {volist name="new" id="vo"}
          <li><a href="{:url('detail/'.$vo['id'])}">{$vo['title']}</a></li>
        {/volist}
      </ul>
    </div>
    <script type="text/javascript">
        (function() {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div class="ban_251" style="" id="' + s + '"></div>');
            (window.slotbydup = window.slotbydup || []).push({
                id: "u3138447",
                container:  s
            });
        })();
    </script>
    <div class="g_box2 u_2">
      <div class="t_1"> 热门排行 </div>
      <ul class="b_box1">
        {volist name="hot" id="vo"}
          <li><a href="{:url('detail/'.$vo['id'])}">{$vo['title']}</a></li>
        {/volist}
      </ul>
    </div>
    <script type="text/javascript">
        (function() {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div class="ban_251" style="" id="' + s + '"></div>');
            (window.slotbydup = window.slotbydup || []).push({
                id: "u3138448",
                container:  s
            });
        })();
    </script>
    <script type="text/javascript">
        (function() {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div class="ban_251" style="" id="' + s + '"></div>');
            (window.slotbydup = window.slotbydup || []).push({
                id: "u3138453",
                container:  s
            });
        })();
    </script>