{include file="header"}
<link type="text/css" rel="stylesheet" href="static/css/flowad.css" />
<div class="main-block"  ng-controller="articleControl">
  <!--banner-->
    <div id="scrollpic" class="carousel slide bannerbox" data-ride="carousel" >
    <div class="carousel-inner " role="listbox">
            <div class="item active" tag="1">
                            <a href="/member/trafficexchange/index.htm" class="banner-bg" style="display: block;" target="_blank"></a>
                            <div class="carousel-caption">
              </div>
            </div>
       </div>
    </div>
    <!--banner-->
    
    <div class="bg-white page-wrap">
      <div class="page-con clearfix">
        <div class="clearfix">
          <div class="dynamic-box">
            <span class="span-title">加盟动态</span>
            <div class="dynamic-join dynamic-scroll">
              <ul>
                                  <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【网址导航】</span>
                      <span class="text-buy" ><a href="http://hao.cngaoge.cn" target="_blank" rel="nofollow">B2B网站大全</a>加入流量交换</span>
                      <span class="text-date" >2018-09-10</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【文学小说】</span>
                      <span class="text-buy" ><a href="http://www.91wxwx.com" target="_blank" rel="nofollow">站长资源平台</a>加入流量交换</span>
                      <span class="text-date" >2018-09-10</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【教育培训】</span>
                      <span class="text-buy" ><a href="http://www.51cok.com" target="_blank" rel="nofollow">中学网校</a>加入流量交换</span>
                      <span class="text-date" >2018-09-10</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【行业门户】</span>
                      <span class="text-buy" ><a href="http://www.cngaoge.cn" target="_blank" rel="nofollow">中国电气网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-10</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【论坛博客】</span>
                      <span class="text-buy" ><a href="http://www.danbai.tw" target="_blank" rel="nofollow">淡白资源网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-10</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【论坛博客】</span>
                      <span class="text-buy" ><a href="http://blog.jues.org.cn" target="_blank" rel="nofollow">jues博客</a>加入流量交换</span>
                      <span class="text-date" >2018-09-09</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【影视动漫】</span>
                      <span class="text-buy" ><a href="http://www.875dy.com" target="_blank" rel="nofollow">875电影网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-09</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【影视动漫】</span>
                      <span class="text-buy" ><a href="http://www.hbdy.cc" target="_blank" rel="nofollow">花瓣电影</a>加入流量交换</span>
                      <span class="text-date" >2018-09-09</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【网络游戏】</span>
                      <span class="text-buy" ><a href="http://www.rxiaoyao.cn" target="_blank" rel="nofollow">任逍遥网游</a>加入流量交换</span>
                      <span class="text-date" >2018-09-09</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【论坛博客】</span>
                      <span class="text-buy" ><a href="http://www.7k21.com" target="_blank" rel="nofollow">7k21实用软件分享</a>加入流量交换</span>
                      <span class="text-date" >2018-09-08</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【网址导航】</span>
                      <span class="text-buy" ><a href="http://www.xl1998.cn" target="_blank" rel="nofollow">qq导航天下</a>加入流量交换</span>
                      <span class="text-date" >2018-09-08</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【电子商务】</span>
                      <span class="text-buy" ><a href="http://www.0du6.com" target="_blank" rel="nofollow">零度博客</a>加入流量交换</span>
                      <span class="text-date" >2018-09-08</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【影视动漫】</span>
                      <span class="text-buy" ><a href="http://www.tttv6.com" target="_blank" rel="nofollow">天天影院</a>加入流量交换</span>
                      <span class="text-date" >2018-09-08</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【影视动漫】</span>
                      <span class="text-buy" ><a href="http://www.pxxxq.top" target="_blank" rel="nofollow">无忧影院</a>加入流量交换</span>
                      <span class="text-date" >2018-09-07</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【IT技术】</span>
                      <span class="text-buy" ><a href="http://www.100sucai.com" target="_blank" rel="nofollow">100素材网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-07</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【休闲娱乐】</span>
                      <span class="text-buy" ><a href="http://www.kimqi.net" target="_blank" rel="nofollow">泡菜音译</a>加入流量交换</span>
                      <span class="text-date" >2018-09-07</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【休闲娱乐】</span>
                      <span class="text-buy" ><a href="http://71714.com" target="_blank" rel="nofollow">蘑菇头表情网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-07</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【行业门户】</span>
                      <span class="text-buy" ><a href="http://mx-y.com" target="_blank" rel="nofollow">展模网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-06</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【IT技术】</span>
                      <span class="text-buy" ><a href="http://www.codeweb.top" target="_blank" rel="nofollow">网站源码网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-06</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【影视动漫】</span>
                      <span class="text-buy" ><a href="http://www.yy7090.com" target="_blank" rel="nofollow">YY7090影院官网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-06</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【其他分类】</span>
                      <span class="text-buy" ><a href="http://www.aokya.com" target="_blank" rel="nofollow">AOKYA精装小姐姐</a>加入流量交换</span>
                      <span class="text-date" >2018-09-06</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【IT技术】</span>
                      <span class="text-buy" ><a href="http://m.shipinjx.vip" target="_blank" rel="nofollow">无忧云解析</a>加入流量交换</span>
                      <span class="text-date" >2018-09-05</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【论坛博客】</span>
                      <span class="text-buy" ><a href="http://www.2cyy.cn" target="_blank" rel="nofollow">小猪辅助论坛</a>加入流量交换</span>
                      <span class="text-date" >2018-09-05</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【IT技术】</span>
                      <span class="text-buy" ><a href="http://www.yems.net" target="_blank" rel="nofollow">也没啥源码网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-05</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【电子商务】</span>
                      <span class="text-buy" ><a href="http://www.renwu.net.cn" target="_blank" rel="nofollow">任务社区</a>加入流量交换</span>
                      <span class="text-date" >2018-09-05</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【生活服务】</span>
                      <span class="text-buy" ><a href="http://www.qimenbagua.cn" target="_blank" rel="nofollow">图购网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-05</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【影视动漫】</span>
                      <span class="text-buy" ><a href="http://www.vankeda.com" target="_blank" rel="nofollow">万客达影视</a>加入流量交换</span>
                      <span class="text-date" >2018-09-05</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【行业门户】</span>
                      <span class="text-buy" ><a href="http://www.fishsou.com" target="_blank" rel="nofollow">搜鱼网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-05</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【网址导航】</span>
                      <span class="text-buy" ><a href="http://www.webglobalsubmit.com.cn" target="_blank" rel="nofollow">全球网址提交网</a>加入流量交换</span>
                      <span class="text-date" >2018-09-05</span>
                    </li>
                                      <li class="clearfix"  style="cursor:pointer;">
                      <img src="static/images/flowad/ty.png"/>
                      <span class="text-price">【行业门户】</span>
                      <span class="text-buy" ><a href="http://www.cq4a.com" target="_blank" rel="nofollow">巫山信息港</a>加入流量交换</span>
                      <span class="text-date" >2018-09-04</span>
                    </li>
                   
                  </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
          var dynamic_scroll = {go: 'top', obj: $('.dynamic-scroll'), cons: 3, goTime: 1000, stopTime: 5000}
          scrollFun(dynamic_scroll);
    </script>
    
    
    <div class="bg-gray page-wrap ">
      <div class="page-con clearfix">
        <div class="clearfix">
          <div class="con-left pt64 w600">
            <div class="a-income">
            <div class="a-income-arrow-gray"></div>
            <div class="a-income-arrow-blue"></div>
            <div class="a-income-label-blue">
              <i></i>贡献的流量
            </div>
            <div class="a-income-label-orange">
              <i></i>获得的流量
            </div>
          </div>
          </div>
          <div class="con-right pt160 w600">
            <div class="right-title">平台智能化数据监控统计</div>
            <p class="middle-title">精细统计网站广告流量情况</p>
            <p class="bottom-title">直观化流量数据报表,让用户实施掌握网站,流量交换情况,保证贡献的流量也能获得同等的流量.</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="bg-white page-wrap">
      <div class="page-con clearfix">
        <div class="clearfix">
          <div class="con-left w542">
            <h1 class="title-h1">多样的流量交换展示形式</h1>
            <p class="tltle-p">图片广告展示/文字广告展示</p>
            <p class="bottom-p">内容清晰夺目，视觉冲击力强；高效触达，让您的展示位不再空闲</p>
          </div>
          <div class="con-right w658 pb130" style="padding-top: 90px;">
            <div class="img_shape">
              <div class="one">
                
                <div class="top960 adv" data-size="img_960_90">
                  <span ng-click="imgIframe(960)">图片960*90</span>
                  <div class="showimg">
                    <script src="http://www.2898.com/index/flowexchange/getGoods?id=179&sign=6ff1ed86ab67e4b5872dcbd35bad2282"></script>
                  </div>
                </div>
              </div>
              <div class="two">
                <div class="top760 adv">
                  <span ng-click="imgIframe(760)">图片760*60</span>
                  
                  <div class="showimg">
                    <script src="//www.2898.com/index/flowexchange/getGoods?id=170&sign=e83ddb25f5828dcbb316a08cc1ec2fd9"></script>
                  </div>
                </div>
              </div>
              <div class="three">
                <div class="top250 adv">
                  <span ng-click="imgIframe(35)">文字<p>3行5列</p></span>
                  
                  <div class="showimg">
                    <script src="//www.2898.com/index/flowexchange/getGoods?id=178&sign=af16c31c49635df37a2abd02fcd6e928"></script>
                    
                  </div>
                </div>
              </div>
              <div class="four">
                <div class="top200 adv">
                  <span ng-click="imgIframe(640)">图片640*60</span>
                  
                  <div class="showimg">
                    <script src="//www.2898.com/index/flowexchange/getGoods?id=398&sign=d450766dfb5e6b6b48b0d280a2239118"></script>
                  </div>
                </div>
              </div>
              <div class="five">
                <div class="top75 adv">
                  <span ng-click="imgIframe(250)">图片250*250</span>
                  
                  <div class="showimg">
                    <script src="//www.2898.com/index/flowexchange/getGoods?id=175&sign=176a46869c1c4ee3241ad45b8b4be826"></script>
                  </div>
                </div>
              </div>
              <div class="six">
                <div class="top300 adv">
                  <span ng-click="imgIframe(300)">图片300*250</span>
                  
                  <div class="showimg">
                    <script src="//www.2898.com/index/flowexchange/getGoods?id=382&sign=500cbbf70d5125fd8ebd02fa13d97d67"></script>
                  </div>
                </div>
              </div>
              <div class="eight">
                <div class="top63 adv">
                  <span ng-click="imgIframe(36)">文字<p>3行6列</p></span>
                  <div class="showimg">
                    <script src="//www.2898.com/index/flowexchange/getGoods?id=393&sign=6b9f025907638af40a893be60ec838bd"></script>
                  </div>
                </div>
              </div>
              <div class="nine">
                <div class="top200 adv">
                  <span ng-click="imgIframe(23)">文字 <p>2行3列</p></span>
                  <div class="showimg">
                    <script src="//www.2898.com/index/flowexchange/getGoods?id=396&sign=3c36de003bf258959a4499c7e6d0aaae"></script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white page-wrap">
      <div class="page-con clearfix">
        <div class="clearfix">
          <div class="con-left w542">
            <h1 class="title-h1">精准匹配交换</h1>
            <p class="tltle-p">实现广告位流量转化最大化</p>
            <p class="bottom-p">我们平台会跟进您网站的行业，给您进行行业匹配达到提高广告转化率。</p>
          </div>
          <div class="con-right w658 pb130">
            <div class="pt174">
              <div class="hangye" ng-show="active==1"></div>
              <div class="fuwu"   ng-show="active==2"></div>
              <div class="news"   ng-show="active==3"></div>
            </div>
            <div class="tab-f clearfix">
              <ul>
                <li ng-mouseover="show(1)" ng-class="{true:'active',false:'other'}[active==1]">行业门户</li>
                <li ng-mouseover="show(2)" ng-class="{true:'active',false:'other'}[active==2]">生活服务</li>
                <li ng-mouseover="show(3)" ng-class="{true:'active',false:'other'}[active==3]">新闻媒体</li>
              </ul>
            </div>
            <div class="showfont" ng-show="active==1">A网站在首页文字广告，B网站在首页横幅广告展示</div>
            <div class="showfont" ng-show="active==2">A网站在首页文字广告，B网站在首页矩形广告展示</div>
            <div class="showfont" ng-show="active==3">A网站在首页横幅广告，B网站在首页右侧对联广告展示</div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray page-wrap">
      <div class="page-con clearfix">
        <div class="text-center four-text">
          <h1>公平、透明的流量交换平台</h1>
          <h3>帮你完成真正的广告流量交换，提升自己网站价值</h3>
        </div>
        <div class="clearfix pt45">
          <div class="con-left w399">
            <div class="bg-free " style="width:85px;margin:0 auto;">
                    <div class="stage s1">
                        <div class="cont">
                            <div class="front"><img src="static/images/flowad/bg-free.png" height="93" width="85"/></div>
                            <div class="back"><img src="static/images/flowad/bg-free.png" height="93" width="85"/></div>
                        </div>
                    </div>
            </div>
            <h3 class="free-text" style="padding:0;text-align:center;">免费交换  公开透明</h3>
            <p class="p_bottom" style="padding:0;margin:0 auto 10px;">2898流量交换联盟完全无需要任何费用，无暗扣流量，暗扣积分行为，流量来源去路后台可查。</p>
          </div>
          <div class="con-middle w399">
            <div class="bg-free " style="width:100px;margin:0 auto;">
              <div class="stage s1" style="width: 100px;height: 100px;">
                        <div class="cont">
                            <div class="front"><img src="static/images/flowad/bg-select.png" height="100" width="100"/></div>
                            <div class="back"><img src="static/images/flowad/bg-select.png" height="100" width="100"/></div>
                        </div>
                   </div>
            </div>
            <h3 class="free-text" style="margin-top: 13px;padding:0;text-align:center;">优质资源  精准选择</h3>
            <p class="p_bottom" style="padding:0;margin:0 auto 10px;">横跨数十行业网站入驻，站长可以自由选择不同投放类型的网站，确保流量来源更加精准可靠。</p>
          </div>
          <div class="con-left w399">
            <div class="bg-free " style="width:85px;margin:0 auto;">
              <div class="stage s1">
                        <div class="cont">
                            <div class="front"><img src="static/images/flowad/bg-seo.png" height="93" width="85"/></div>
                            <div class="back"><img src="static/images/flowad/bg-seo.png" height="93" width="85"/></div>
                        </div>
                   </div>
            </div>
            <h3 class="free-text" style="padding:0;text-align:center;">不影响SEO优化</h3>
            <p class="p_bottom" style="padding:0;margin:0 auto 10px;">2898流量交换联盟完全无需要任何费用，无暗扣流量，暗扣积分行为，流量来源去路后台可查。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white page-wrap">
      <div class="page-con clearfix">
        <div class="text-center four-text">
          <h1>流量交换步骤</h1>
          <h3>帮你完成真正的广告流量交换，提升自己网站价值</h3>
        </div>
        <div class="clearfix pt45" style="padding-top:100px;">
          <div><img style="display:block;width:1108px;margin: 0 auto;" src="static/images/flowad/step-bottom.png"/></div>
        </div>
        <div class="text-center joins">
                            <a href="/member/trafficexchange/index.htm"  target="_blank">立即加盟</a>
                          
        </div>
        
      </div>
      
    </div>
    <!--加盟广告位-->
    <div class="modal fade modal-blue join-adv" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document" style="width: 881px;">
        <div class="modal-content" style="height: 750px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">加盟广告位</h4>
          </div>
          <div class="modal-body">
            <div class="panel-body text-center" >
                <div class="form-group clearfix">
                  <label class="col-sm-2 col-xs-12 control-label text-right ml60 pd0">网站名称：</label>
                  <div class="col-sm-8 col-xs-12">
                    <input check-length="linkTitleCheck" check-min="1" check-max="20" type="text" placeholder="例：站长资源平台"  class="form-control" ng-model="name">
                  </div>
              </div>
              <div class="form-group clearfix">
                  <label class="col-sm-2 col-xs-12 control-label text-right ml60 pd0">网站域名：</label>
                  <div class="col-sm-8 col-xs-12">
                    <input check-length="linkTitleCheck" check-min="1" check-max="20" type="text" placeholder="例：www.2898.com"  class="form-control" ng-model="url">
                  </div>
              </div>
              <div class="list-group clearfix">
            <div class="">
                        <label for="" class="col-sm-2 col-xs-12 control-label text-right ml45 pd0" >一级分类：</label>
                        <div class="col-sm-2 pl10 pr0">
                            <div class="dropdown fistCate " style="width: 100%;">
                                <button class="btn form-control dropdown-toggle lv1cate" data-toggle="dropdown" style="border-color:#c7d5de">
                                    <span class="dropdown-selected" ng-bind="public.editPicOneCate" value="all">一级分类</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu lv1cateMenu" style="width:158px;height: 230px;overflow: auto;">
                                    <li  ng-repeat= "item in public.cateArr" ng-click="public.changeOneCate(item.name,'editPicweb','editPicOneCate','editPicTwoCate')" ><a href="javascript:void(0)" ng-bind="item.name"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label for="" class="col-sm-2 col-xs-12 control-label text-right ml60 pd0" style="margin-left: 106px;font-weight: normal;">二级分类：</label>
                        <div class="col-sm-2 pl10 pr0">
                            <div class="dropdown secCate" style="width: 100%;">
                                <button class="btn form-control dropdown-toggle lv2cate" data-toggle="dropdown" style="border-color:#c7d5de">
                                    <span class="dropdown-selected" ng-bind = "public.editPicTwoCate"  value="all">二级分类</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu lv2cateMenu" style="width:158px;height:auto;">
                                    <li  ng-repeat="item in public.editPicweb" ng-click="public.changeTwoCate(item.name,'editPicTwoCate')"> <a href="javascript:void(0)" ng-bind="item.name"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
          </div>
          <div class="list-group clearfix pd0">
            <label class="col-sm-2 col-xs-12 control-label text-right ml45 pd0">敏感词广告：</label>
            <div class="pl0 pr8 col-sm-10 col-xs-12 wd80 text-left">
              <label class="check mr30"><input type="radio" name="picWeb" value="1"  class="none" mark="1"/><b></b>接受</label>
              <label class="check"><input type="radio" name="picWeb" value= "2"  checked="checked" class="none" mark="2"/><b></b>拒绝</label>
              <span class="span-cue">（是否接受灰色行业友链！）</span>
            </div>
          </div>
          <div class="list-group clearfix">
            <label class="col-sm-2 col-xs-12 control-label text-right ml45 pd0">广告位名称：</label>
            <div class="col-sm-8 col-xs-12">
                    <input type="text" ng-model = "adname" ng-blur = "check_str('adname',adname)" placeholder="" class="form-control"/>
                    <div class="text-left"><span ng-bind = "tip_str.adname" ng-class = "{false:'has-icon-error text-red'}[isadname]" class="tip_msg">最多16个字符或者8个汉字</span></div>
                  </div>
            
            
            
          </div>
          <!--<div class="list-group clearfix pd0">
            <label class="col-sm-2 col-xs-12 control-label text-right ml45 pd0">广告位置：</label>
            <div class="pl0 pr8 col-sm-10 col-xs-12 wd80 text-left">
              <label ng-click="webs=false" class="monthly mr30"><input type="radio" name="web_place" value="1"  class="none" mark="1" checked="checked"/><b ng-click="webs=false"></b>网站首页</label>
              <label ng-click="webs = true" class="monthly"><input type="radio" name="web_place" value= "2"   class="none" mark="2"/><b ng-click="webs = true"></b>网站内页</label>
            </div>
          </div>-->
          <!--广告位属性-->
          <div class="list-group clearfix pd0">
            <label class="pull-left">广告位属性：</label>
            <div class="pl0 pr8 pull-left wd80">
              <label class="square mr30" style="margin-left: 15px">
                <input type="checkbox" name="traffic_sell" value="1" class="none" mark="1" checked="checked" />
                <b></b>流量出售</label>
              <label class="square" >
                <input type="checkbox" name="traffic_change" value="2" class="none" mark="2" checked="checked"/>
                <b></b>流量交换</label>
            </div>
          </div>
          <!--广告位属性-->
          
          
          <div class="list-group clearfix" ng-show="webs">
            <label class="col-sm-2 col-xs-12 control-label text-right ml45 pd0">广告页面地址：</label>
            <div class="col-sm-8 col-xs-12">
                    <input type="text" ng-model = "pageurl" placeholder="" class="form-control"/>
                    <div class="text-left"><span class="tip_msg1">展示广告位地址，方便用户查看</span></div>
                 </div>
            
          </div>
          <div class="list-group clearfix pd0">
            <label class="col-sm-2 col-xs-12 control-label text-right ml45 pd0">广告类型：</label>
            <div class="pl0 pr8 col-sm-10 col-xs-12 wd80 text-left">
              <label class="pictype mr30" ng-click = "changeType(1)"><input type="radio" name="fpic" value="1"  class="none" mark="1" checked="checked"/><b></b>文字广告</label>
              <label class="pictype" ng-click = "changeType(2)"><input type="radio" name="fpic" value= "2"  class="none" mark="2"/><b></b>图片广告</label>
              <span class="span-cue-gray">（选择您想要加入流量交换的广告类型！）</span>
            </div>
          </div>
          <div class="advert-box" style="display: block;">
            <div class="list-group clearfix pd0">
              <label class="col-sm-2 col-xs-12 control-label text-right ml45 pd0">文字广告：</label>
              <div class="pl0 pr8 col-sm-10 col-xs-12 wd80 text-left">
                <!--<label ng-click = "fonSize('200*50',3)"  class="checkfont mr30"><input type="radio" name="fontadvert" value="1"   class="none" mark="1" /><b ></b>2行*2列  200*50</label>
                <label ng-click = "fonSize('468*50',4)"  class="checkfont mr30"><input type="radio" name="fontadvert" value="1"   class="none" mark="1"/><b ></b>3行*2列  468*50</label>
                <label ng-click = "fonSize('640*70',5)"  class="checkfont mr30"><input type="radio" name="fontadvert" value="1"   class="none" mark="1"/><b ></b>4行*3列  640*70</label>
                <label ng-click = "fonSize('760*75',6)"  class="checkfont mr30"><input type="radio" name="fontadvert" value="1"   class="none" mark="1"/><b ></b>5行*3列  760*75</label>
                <label ng-click = "fonSize('960*75',7)"  class="checkfont mr30"><input type="radio" name="fontadvert" value="1"   class="none" mark="1"/><b ></b>6行*3列  960*75</label>
                <label ng-click = "fonSize('1200*75',8)"  class="checkfont mr30"><input type="radio" name="fontadvert" value="1"   class="none" mark="1" checked="checked"/><b ></b>7行*3列  1200*75</label>-->
                
                <div class="dropdown  select_size" style="width: 124px;">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-source-type" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" style="width: 120px;">
                    <span class="dropdown-selected" value="all">请设置列数</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu-source-type" style="width: 120px;">
                    <li ng-repeat="item in col" ng-click = "changeSize('lie',item)">
                      <a ng-bind = "item"></a>
                    </li>
                  </ul>
                </div>
  
                <span>x</span>
                
                <div class="dropdown  select_size" style="width: 124px;">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-source-type" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" style="width: 120px;">
                    <span class="dropdown-selected" value="all">请设置行数</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu-source-type" style="width: 120px;">
                    <li ng-repeat="item in row" ng-click = "changeSize('hang',item)">
                      <a ng-bind = "item">1</a>
                    </li>
                    
                  </ul>
                </div>
                <span class = "font_tip" ng-show = "hang&&lie">（根据您输入的行列数，位置大小：<ss ng-bind = "ADfontSize"></ss>）</span>
              </div>
              
            </div>
          </div>
          <div class="advert-box">
            <div class="list-group clearfix pd0">
              <label class="col-sm-2 col-xs-12 control-label text-right ml45 pd0">横幅广告：</label>
              <div class="pl0 pr8 col-sm-10 col-xs-12 wd80 text-left">
                <label ng-click = "picSize('1200*90',1)" class="square mr30"><input type="radio" name="picadvert" value="1"   class="none" mark="1" /><b ></b>1200*90</label>
                <label ng-click = "picSize('960*90',1)" class="square mr30"><input type="radio" name="picadvert" value="1"   class="none" mark="1"/><b ></b>960*90</label>
                <label ng-click = "picSize('960*60',1)" class="square mr30"><input type="radio" name="picadvert" value="1"   class="none" mark="1"/><b ></b>960*60</label>
                <label ng-click = "picSize('760*60',1)"  class="square mr30"><input type="radio" name="picadvert" value="1"   class="none" mark="1"/><b ></b>760*60</label>
                <label ng-click = "picSize('640*60',1)" class="square mr30"><input type="radio" name="picadvert" value="1"   class="none" mark="1"/><b ></b>640*60</label>
                <label ng-click = "picSize('468*60',1)" class="square mr30"><input type="radio" name="picadvert" value="1"   class="none" mark="1" /><b ></b>468*60</label>
              </div>
            </div>
            <div class="list-group clearfix pd0">
              <label class="col-sm-2 col-xs-12 control-label text-right ml45 pd0">矩形广告：</label>
              <div class="pl0 pr8 col-sm-10 col-xs-12 wd80 text-left">
                <label ng-click = "picSize('250*250',2)" class="square mr30"><input type="radio" name="picadvert" value="1"   class="none" mark="1" /><b ></b>250*250</label>
                <label ng-click = "picSize('300*250',2)" class="square mr30"><input type="radio" name="picadvert" value="1"   class="none" mark="1" checked="checked"/><b ></b>300*250</label>
              </div>
            </div>
          </div>
          
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info join-sure"  ng-click="save()">加盟广告位</button>
          </div>
        </div>
    </div>
  </div>
  
<!-- 右侧打开加 open -->
<div class="menu-right">
  <div class="menu-right-goods">
    <div class="menu-right-header">
      <span class="icon-cart"></span>
      <span class="header-text">购物车</span>
      <span class="icon-close menu_right_close" ></span>
    </div>
    <div class="menu-right-con" >
      <ul ng-repeat="(key,val) in common.itemDataList" >
         <h1 ng-bind="val.title" ng-show="val.count>0"></h1>
        <li ng-repeat="(key1,val1) in val.data">
          <div class="web_title">
            <span class="label-box" ng-bind="val1.catename"></span>
            <h3  class="con-title" ng-bind="val1.webname" ng-show="val.title=='友情链接' || val.title=='图文广告'" title="{{val1.webname}}"></h3>
            <h3 ng-show="val.title=='网站交易'" class="con-title" ng-bind="val1.point" title="{{val1.point}}"></h3>
          </div>
          <span class="con-text" >
            网站地址：
            <span class="web_url" ng-bind="val1.goodsurl" title="{{val1.goodsurl}}"></span>
          </span>
          <p class="web_weight">
            权重：
            <span class="tuwen bai_du" style="margin-right: 36px" ng-bind="val1.bdweight"></span>
            PR值：
            <span class="tuwen pr"  ng-bind="val1.pr"></span>
          </p>
          <p>
            IP值：<xfan ng-bind="val1.ip"></xfan>
            <xfan ng-show="val.title=='友情链接'" style="margin-left: 20%;">
              位置：
              <span ng-bind="{true:'全站',false:'首页'}[val1.is_qz == 1]">全站</span>             
            </xfan>
          </p>
          <div class="clearfix">
            <span class="con-price">￥<span ng-bind="val1.price"></span><ss ng-hide="val.title=='网站交易'">/月</ss></span>
            <span class="con-btn" ng-click="common.delItem(val1.gid)">删除</span>
          </div>
        </li>
      </ul>

      <!-- 购物车没有商品时显示 默认隐藏 -->
      <div class="menu-right-empty " ng-class="{'hidden': common.itemNum*1>0}">
        <img src="static/images/bg/shopping.png">
        <p>购物车空空，快去选购一下哦！</p>
      </div>
    </div>
    <div class="menu-right-footer">
      <div class="clearfix ">
        <span class="footer-left">已选 <span class="text-yellow" ng-bind="common.itemNum"></span> 个网站</span>
        <span class="footer-right">共计： <span class="text-yellow" ng-bind="common.itemPrice"></span></span>
      </div>
      <a href="/index/goods/submit_order" ng-show="common.itemNum>0">
        <span class="btn btn-info center-block">去购买</span>
      </a>
      <span class="btn center-block" style="background: gray;color: #fff;" ng-show="common.itemNum==0">去购买</span>
    </div>
  </div>
  <ul class="menu-right-btns">
    <li class="" onclick="window.open('/member/account/member.htm')">
       <div>
         <span class="title">会员中心</span>
          <span class="icon icon-person"></span>
       </div> 
    </li>
    <li  style="position: relative">
      <div class="kefu">
        <span class="title">客服</span>
        <span class="icon icon-service"></span>
      </div>
      <b style=" position: absolute;top: 7px; left: 66px;opacity: 0;z-index: 999;"><script charset="utf-8" type="text/javascript" src="//wpa.b.qq.com/cgi/wpa.php?key=XzgwMDE4NTQ4OV80ODI2ODlfODAwMTg1NDg5Xw"></script></b>
    </li>
    <li class="menu_right_btn" >
      <div>
        <span class="title">购物车</span>
        <span class="icon icon-shop" ng-click="common.CartLogin()"></span>
        <span class="badge"  ng-bind="common.itemNum"></span>
      </div>
    </li>
    <li class="hidden">
      <div>
        <span class="title">加盟</span>
        <span class="icon icon-hands"></span>
      </div>
    </li>
    <li class="" onclick="window.open('/user_feedback.htm')">
      <div>
        <span class="title">意见反馈</span>
        <span class="icon icon-pen"></span>
      </div>
    </li>
    <li class="" onclick="window.open('/appdown.htm')">
      <div>
        <span class="title">APP下载</span>
        <span class="icon icon-code"></span>
      </div>
    </li>
    <li class="go_top">
      <div>
        <span class="title">顶部</span>
        <span class="icon icon-up"></span>
      </div>
    </li>
  </ul>
</div>


</div>

<script type = "text/javascript" src = "static/js/factory/fenlei.js"></script>
<script type="text/javascript" src="static/js/factory/directive.js"></script>
{include file="footer"}
<script type="text/javascript" src="static/js/flowad.js?v=20180903"></script>
<script type = "text/javascript" src = "static/js/index_message.js?v=20180903"></script>
</body>
</html>