<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>{$title}</title>
<link rel="shortcut icon" href="/favicon3.ico" />
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<!-- 本页面私有 -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/list.css" />
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/Common.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<meta http-equiv="mobile-agent" content="format=xhtml;url={$mobile}">
<script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="{$mobile}";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>
<!-- @本页面私有 -->
</head>
<body>
{include file="header"}
    <div class="content_home">
      <div class="home_left">
        <div class="hlgd">
          <div class="hlgd-title">
            <div class="hlgdttxt">搜索“{$q}”</div>
            <hr>
          </div>
          <div class="hlgd-content">
            <div class="hlbqy-box">
                {volist name="list" id="vo"}
                    <li>
                      <dl>
                        <dt><a href="{:url('detail/'.$vo['id'])}"  target="_blank" title="{$vo['title']}">{$vo['title']}</a></dt>
                        <dd> {$vo['addtime']}</dd>
                      </dl>
                    </li>
                    {eq name="key%5" value="4"}<div class="line"></div>{/eq}
                {/volist}
              </ul>
            </div>
            <div class="hlgd-page page-nav">
            {$page}
            </div>
          </div>
        </div>
      </div>
      {include file="right"}
    </div>
  </div>
  <!--主体结束--> 
  {include file="footer"}
</div>
</body>
</html>