<div class="g_box2 u_2">
      <div class="t_1"> {$ptype} </div>
      <ul class="menu">
        {notempty name="type"}
          {volist name="type" id="vo"}
            <li><a href='{:url('mlist/'.$vo['id'])}' {eq name="vo['id']" value="$typeid"} class='on'{/eq}>{$vo['tname']}</a></li>
          {/volist}
        {/notempty}
        <div class="clear"> </div>
      </ul>
    </div>
    <div class="ban_251"><script type="text/javascript">
    /*336*280 创建于 2017/11/16*/
    var cpro_id = "u3138445";
</script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script></div>
    <div class="g_box2 u_2">
      <div class="t_1"> 最新资讯 </div>
      <ul class="b_box3 u_1">
        {volist name="new" id="vo"}
          <li><a href="{:url('detail/'.$vo['id'])}">{$vo['title']}</a></li>
        {/volist}
      </ul>
    </div>
    <div class="ban_251"><script type="text/javascript">
    /*336*280 创建于 2017/11/16*/
    var cpro_id = "u3138447";
</script><script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script></div>
    <div class="g_box2 u_2">
      <div class="t_1"> 热门排行 </div>
      <ul class="b_box1">
        {volist name="hot" id="vo"}
          <li><a href="{:url('detail/'.$vo['id'])}">{$vo['title']}</a></li>
        {/volist}
      </ul>
    </div>
    <div class="ban_251"><script type="text/javascript">
    /*336*280 创建于 2017/11/16*/
    var cpro_id = "u3138448";
</script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script>
<script type="text/javascript">
    /*336*280 创建于 2017/11/16*/
    var cpro_id = "u3138453";
</script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/c.js"></script></div>