{include file="header"}
<link type="text/css" rel="stylesheet" href="/static/css/web-details.css" />
<div class="main-block" >
    <!--banner-->
    <!-- main start -->
        <div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb mlt">
        <li><a href="/"><i class="glyphicon glyphicon-home" style="margin-right:3px;"></i>首页</a></li>
        <li><a href="/weixin.htm">微信广告</a></li>
        <li class="active">详情页</li>
      </ol>
    </div>
    <!--上-->
    <div class="col-md-12">
        <div class="bgtop">
            <div class="top1">
                <div class="maintop pull-left">
                    <a><img src="//api.2898.com/readimg.php?type=qr_code&amp;exec=HLJ_SHB_avatar" class="talkimg" alt="读取头像失败"></a><span class="wxrz"></span>
                    <div class="text14 mtl1"><span class="cu">行业：</span><span class="text14">IT/互联网</span></div>
                </div>
                <div class="pull-left topday renzheng">
                    <div>
                        <ul>
                            <li style="" class="clearfix"><span class="textday">生活报</span>
                                <div class="jin">HLJ_SHB</div>
                            </li>
                            <li style="width:165px">上架时间：<span>2016-09-18 11:25</span></li>
                            <li>认证主体：<img src="/static/images/weixin/wxrz.png" style="margin-right:5px;margin-left:2px;"><span>黑龙江日报报业集团</span> </li>
                            <li>
                                <div class="jianjie">
                                    <p>简介：关注生活报官方微信，及时发布新闻和各种服务资讯，欢迎亲们收听~</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><img src="//api.2898.com/readimg.php?type=qr_code&amp;exec=HLJ_SHB_qr" alt="读取二维码失败" class="m48">
                <div class="topright">
                    <div class="mt52">
                        <p><span class="sp4 tp">订阅量</span> <span class="sp3">/</span> <span class="sp3">430000</span></p>
                        <p><span class="sp4 tp">阅读数</span> <span class="sp3">/</span> <span class="sp3">5327</span></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!--上-->
    
    <!--图文发布时间段-->
    <div class="col-md-12 mt40">
      <div class="model-title border-left">图文发布时段分布</div>
      <div class="model-bg">
        <div id="container" style="height: 320px;"></div>
      </div>
    </div>
    <!--图文发布时间段-->
    
    <!--近七天文字阅读情况-->
    <div class="col-md-12 mt40">
      <div class="model-title border-left">近7天文章阅读情况</div>
      <div class="model-bg">
        <div id="reading_chart" style="height: 320px;"></div>
      </div>
    </div>
   
   <!--热门/最新文章-->
        <div class="col-md-12 mt40 model-list">
            <div class="model-bg pull-left" style="width: 540px;">
                <div class="model-title"><span class="icon-fire"></span> 热门文章</div>
                <div class="rmwz">
                                        <div class="media titlebt">
                        <div class="m5">
                            <div class="media-body">
                                <h4 class="media-heading"><a rel="nofollow" href="http://mp.weixin.qq.com/s?timestamp=1487605562&src=3&ver=1&signature=ujrhUJ9fiSv9mKfh9f9m66fWsvdY9J-UYsepkOZj8AJvQuQXUr6SkR6YYZopsXRLA66CDvK8zYx5iif5f7dk1hO7Rzo5UjRyGrPQyc73Lpmu0MpjKLev6xPT-MR7foJdLK6sfcWjPtGp0iSJ82jqshHyzacdwNLAVNkMxTU3b9g=&devicetype=Windows-QQBrowser&version=61030004&pass_ticket=qMx7ntinAtmqhVn+C23mCuwc9ZRyUp20kIusGgbFLi0=&uin=MTc1MDA1NjU1&ascene=1" class="act act1"  target="_blank">紧急提醒：哈尔滨三环内开始单双号限行，违者罚100元扣3分！原因是…</a></h4>
                                <p class="mp mld">记者从哈尔滨市交警部门了解到，2017年2月12日14时起，哈市三环内实施单双号限行，限行解除时间另行通知。</p>
                                <span class="spnum ml10">
                                    <i class="glyphicon glyphicon-time"></i>
                                    2017-02-13 01:22:19                             </span> 
                                <span class="spnum mlf">
                                    <img src="/static/images//weixin/eye.png">
                                    100001                              </span> 
                                <span class="spnum dzan spnum1">
                                    <img src="/static/images/weixin/zan.png" class="zan">
                                    801                             </span>
                            </div>
                        </div>
                    </div>  
                                        <div class="media titlebt">
                        <div class="m5">
                            <div class="media-body">
                                <h4 class="media-heading"><a rel="nofollow" href="http://mp.weixin.qq.com/s?timestamp=1487605562&src=3&ver=1&signature=ujrhUJ9fiSv9mKfh9f9m66fWsvdY9J-UYsepkOZj8AJvQuQXUr6SkR6YYZopsXRLA66CDvK8zYx5iif5f7dk1tu7LieuYdHuV-Snv89WvzQZ0f8bKg6GULwBoJi-xVIY-P*xbgIVqW2wN3bbT-eiAPXuLRLS7yo78GDKwj-FFUo=&devicetype=Windows-QQBrowser&version=61030004&pass_ticket=qMx7ntinAtmqhVn+C23mCuwc9ZRyUp20kIusGgbFLi0=&uin=MTc1MDA1NjU1&ascene=1" class="act act1"  target="_blank">央视曝光！手机号13、17、15、18…开头的注意 看完头皮发麻！</a></h4>
                                <p class="mp mld">一定要将该信息告诉你的亲人和朋友，因为，我们都不想让财富瞬间清零！</p>
                                <span class="spnum ml10">
                                    <i class="glyphicon glyphicon-time"></i>
                                    2017-02-12 01:02:49                             </span> 
                                <span class="spnum mlf">
                                    <img src="/static/images//weixin/eye.png">
                                    64486                               </span> 
                                <span class="spnum dzan spnum1">
                                    <img src="/static/images/weixin/zan.png" class="zan">
                                    493                             </span>
                            </div>
                        </div>
                    </div>  
                                        <div class="media titlebt">
                        <div class="m5">
                            <div class="media-body">
                                <h4 class="media-heading"><a rel="nofollow" href="http://mp.weixin.qq.com/s?timestamp=1487605562&src=3&ver=1&signature=ujrhUJ9fiSv9mKfh9f9m66fWsvdY9J-UYsepkOZj8AJvQuQXUr6SkR6YYZopsXRLA66CDvK8zYx5iif5f7dk1iANc4k6ShYDEH1JJFqYdOjGWwraJsXURb*i7pePMeUTAU4d2V9tfq2b4Y6aCxbd926mYPhzeNEeq08X0kjWlOI=&devicetype=Windows-QQBrowser&version=61030004&pass_ticket=qMx7ntinAtmqhVn+C23mCuwc9ZRyUp20kIusGgbFLi0=&uin=MTc1MDA1NjU1&ascene=1" class="act act1"  target="_blank">微信就要收费了！？以后看这些，你可能就要花钱了！</a></h4>
                                <p class="mp mld">玩了这么长时间的微信，关注了这么多微信公众号，除了给朋友发红包，基本就没花过钱。可是，突然间一个晴天霹雳一般</p>
                                <span class="spnum ml10">
                                    <i class="glyphicon glyphicon-time"></i>
                                    2017-02-16 00:44:25                             </span> 
                                <span class="spnum mlf">
                                    <img src="/static/images//weixin/eye.png">
                                    57789                               </span> 
                                <span class="spnum dzan spnum1">
                                    <img src="/static/images/weixin/zan.png" class="zan">
                                    1320                                </span>
                            </div>
                        </div>
                    </div>  
                                    </div>
            </div>
            <div class="model-bg pull-right" style="width: 540px;">
                <div class="model-title"><span class="icon-cast"></span> 最新文章</div>
                <div class="zxwz">
                                        <div class="media titlebt">
                        <div class="m5">
                            <div class="media-body">
                                <h4 class="media-heading"><a rel="nofollow" href="http://mp.weixin.qq.com/s?timestamp=1487605562&src=3&ver=1&signature=ujrhUJ9fiSv9mKfh9f9m66fWsvdY9J-UYsepkOZj8AJvQuQXUr6SkR6YYZopsXRLA66CDvK8zYx5iif5f7dk1s4GPSWvD8CsL3MlydXSyFnUovXNQI7nvQgT3IRv2j6VV2WhXfay*N9ORLQOEBQ86lGO*u7hZVHQ2RKAgXHtC-k=&devicetype=Windows-QQBrowser&version=61030004&pass_ticket=qMx7ntinAtmqhVn+C23mCuwc9ZRyUp20kIusGgbFLi0=&uin=MTc1MDA1NjU1&ascene=1" class="act act1"  target="_blank">72小时！哈尔滨“大雪+降温+7级风+堵车+高速封路+停电”全面来袭！你可要挺住……</a></h4>
                                <p class="mp mld">72小时！哈尔滨“大雪+降温+7级风+堵车+高速封路+停电”全面来袭！你可要挺住……</p>
                                <span class="spnum ml10">
                                    <i class="glyphicon glyphicon-time"></i>
                                    2017-02-20 01:58:44                             </span> 
                                <span class="spnum mlf">
                                    <img src="/static/images//weixin/eye.png">
                                    0                               </span> 
                                <span class="spnum dzan spnum1">
                                    <img src="/static/images/weixin/zan.png" class="zan">
                                    0                               </span>
                            </div>
                        </div>
                    </div>
                                        <div class="media titlebt">
                        <div class="m5">
                            <div class="media-body">
                                <h4 class="media-heading"><a rel="nofollow" href="http://mp.weixin.qq.com/s?timestamp=1487605562&src=3&ver=1&signature=ujrhUJ9fiSv9mKfh9f9m66fWsvdY9J-UYsepkOZj8AJvQuQXUr6SkR6YYZopsXRLA66CDvK8zYx5iif5f7dk1s4GPSWvD8CsL3MlydXSyFkFIOrJoTHKRAb7ECcbc3WHX1ms4lJHQJe30dYhBPJDbCffcakqMfcZTzEr4ip6SMw=&devicetype=Windows-QQBrowser&version=61030004&pass_ticket=qMx7ntinAtmqhVn+C23mCuwc9ZRyUp20kIusGgbFLi0=&uin=MTc1MDA1NjU1&ascene=1" class="act act1"  target="_blank">哈市浩泰健身、金钱豹自助“偷摸”停业，市民几千块储值卡打水漂…你还敢“预付”吗？</a></h4>
                                <p class="mp mld">哈市浩泰健身、金钱豹自助“偷摸”停业，市民几千块储值卡打水漂…你还敢“预付”吗？</p>
                                <span class="spnum ml10">
                                    <i class="glyphicon glyphicon-time"></i>
                                    2017-02-20 01:58:44                             </span> 
                                <span class="spnum mlf">
                                    <img src="/static/images//weixin/eye.png">
                                    13369                               </span> 
                                <span class="spnum dzan spnum1">
                                    <img src="/static/images/weixin/zan.png" class="zan">
                                    110                             </span>
                            </div>
                        </div>
                    </div>
                                        <div class="media titlebt">
                        <div class="m5">
                            <div class="media-body">
                                <h4 class="media-heading"><a rel="nofollow" href="http://mp.weixin.qq.com/s?timestamp=1487605562&src=3&ver=1&signature=ujrhUJ9fiSv9mKfh9f9m66fWsvdY9J-UYsepkOZj8AJvQuQXUr6SkR6YYZopsXRLA66CDvK8zYx5iif5f7dk1s4GPSWvD8CsL3MlydXSyFl-Hny5FDQKukUTwP5I39o2wl2sSOZ65imly7kVK-9hoGZbmOKMDSbDVtq6d*7ePDY=&devicetype=Windows-QQBrowser&version=61030004&pass_ticket=qMx7ntinAtmqhVn+C23mCuwc9ZRyUp20kIusGgbFLi0=&uin=MTc1MDA1NjU1&ascene=1" class="act act1"  target="_blank">情人节之后 三个大招助你追到女神</a></h4>
                                <p class="mp mld">在刚刚过去的情人节还没成功脱单的boy们告诉我你是怎么辜负这良辰美景的？在这一年一度的盛会里，如果你只能想到</p>
                                <span class="spnum ml10">
                                    <i class="glyphicon glyphicon-time"></i>
                                    2017-02-20 01:58:44                             </span> 
                                <span class="spnum mlf">
                                    <img src="/static/images//weixin/eye.png">
                                    23386                               </span> 
                                <span class="spnum dzan spnum1">
                                    <img src="/static/images/weixin/zan.png" class="zan">
                                    154                             </span>
                            </div>
                        </div>
                    </div>
                                    </div>
            </div>
        </div>
        <!--最新/热门文字-->
        <!--选了此帐号的人还选了-->
        <div class="col-md-12 mt40">
            <div class="model-title">选了此帐号的人还选了
                <a class="btn changebtn pull-right" id="huanyipi"><i class="fa fa-refresh"></i>换一批</a>
            </div>
            <div class="weixin_account">
                <ul class="item-zone clearfix">
                                    <li class="clearfix">
                        <div class="zone-left">
                            <a href="/wxdetails_2100.htm" target="_blank" class="zone-img">
                                <img src="http://api.2898.com/readimg.php?type=qr_code&exec=KunshanDaily_avatar" alt="创业中国">
                            </a>
                        </div>
                        <div class="zone-right">
                            <h4><a href="/wxdetails_2100.htm" target="_blank" rel="nofollow">昆山日报</a></h4>
                            <p class="account">
                                <span class="icon-weixin-green"></span>
                                <a title="cychina520" href="/wxdetails_2100.htm" target="_blank" rel="nofollow">KunshanDaily</a>
                            </p>
                            <p class="zone-footer">粉丝数量：<span class="text-red">35.0万</span></p>
                            <a href="/wxdetails_2100.htm" class="btn-white" target="_blank" rel="nofollow">查看详情</a>
                        </div>
                    </li>
                                        <li class="clearfix">
                        <div class="zone-left">
                            <a href="/wxdetails_2121.htm" target="_blank" class="zone-img">
                                <img src="http://api.2898.com/readimg.php?type=qr_code&exec=iwenzhou_avatar" alt="创业中国">
                            </a>
                        </div>
                        <div class="zone-right">
                            <h4><a href="/wxdetails_2121.htm" target="_blank" rel="nofollow">温州晚报</a></h4>
                            <p class="account">
                                <span class="icon-weixin-green"></span>
                                <a title="cychina520" href="/wxdetails_2121.htm" target="_blank" rel="nofollow">iwenzhou</a>
                            </p>
                            <p class="zone-footer">粉丝数量：<span class="text-red">40.0万</span></p>
                            <a href="/wxdetails_2121.htm" class="btn-white" target="_blank" rel="nofollow">查看详情</a>
                        </div>
                    </li>
                                        <li class="clearfix">
                        <div class="zone-left">
                            <a href="/wxdetails_2190.htm" target="_blank" class="zone-img">
                                <img src="http://api.2898.com/readimg.php?type=qr_code&exec=838d48206002a3baf33c709591d89b49" alt="创业中国">
                            </a>
                        </div>
                        <div class="zone-right">
                            <h4><a href="/wxdetails_2190.htm" target="_blank" rel="nofollow">就爱动态图</a></h4>
                            <p class="account">
                                <span class="icon-weixin-green"></span>
                                <a title="cychina520" href="/wxdetails_2190.htm" target="_blank" rel="nofollow">AK6440</a>
                            </p>
                            <p class="zone-footer">粉丝数量：<span class="text-red">15.0万</span></p>
                            <a href="/wxdetails_2190.htm" class="btn-white" target="_blank" rel="nofollow">查看详情</a>
                        </div>
                    </li>
                                        <li class="clearfix">
                        <div class="zone-left">
                            <a href="/wxdetails_2086.htm" target="_blank" class="zone-img">
                                <img src="http://api.2898.com/readimg.php?type=qr_code&exec=anhui908_avatar" alt="创业中国">
                            </a>
                        </div>
                        <div class="zone-right">
                            <h4><a href="/wxdetails_2086.htm" target="_blank" rel="nofollow">安徽交通广播</a></h4>
                            <p class="account">
                                <span class="icon-weixin-green"></span>
                                <a title="cychina520" href="/wxdetails_2086.htm" target="_blank" rel="nofollow">anhui908</a>
                            </p>
                            <p class="zone-footer">粉丝数量：<span class="text-red">130.0万</span></p>
                            <a href="/wxdetails_2086.htm" class="btn-white" target="_blank" rel="nofollow">查看详情</a>
                        </div>
                    </li>
                                    </ul>
            </div>
        </div>
        <!--选了此帐号的人还选了-->
  </div>
  
  
</div>
</div>
    <!-- main end -->
</div>
<script type="text/javascript">
    var wxid = 2115</script>

<script type="text/javascript" src="/static/js/factory/directive.js"></script>
{include file="footer"}
<script type="text/javascript" src="/static/js/wechat_wxdetails.js?v=20180903"></script>
<script type = "text/javascript" src = "/static/js/index_message.js?v=20180903"></script>
</body>
</html> 