{include file="header"}
<link type="text/css" rel="stylesheet" href="/static/css/mediaweixin.css" />
<div class="main-block" ng-controller="articleControl">
    <!--banner-->
    <!-- main start -->

    <div class="main container-fluid clearfix" style="padding: 0;">

        <div id="scrollpic" class="carousel slide" data-ride="carousel" style="height: 420px;margin-bottom: 33px;cursor:pointer;">
            <ol class="carousel-indicators">
                <li data-target="#scrollpic" data-slide-to="0" class="active"></li>
                <li data-target="#scrollpic" data-slide-to="1"></li>

            </ol>

            <div class="carousel-inner" role="listbox">

                <div class="item active" target="1">
                    <div style="height: 420px;background: url(/static/images/weixin/weixin_banner6.jpg) center center no-repeat;"></div>
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item " tag="2">
                    <div style="height: 420px;background: url(/static/images/weixin/weixin_banner11.jpg) center center no-repeat;"></div>
                    <div class="carousel-caption">
                    </div>
                </div>
            </div>

            <a class="left carousel-control" href="#scrollpic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left fa fa-angle-left " aria-hidden="true" style="font-size:50px;"></span>
                <span class="sr-only">上图</span>
            </a>
            <a class="right carousel-control" href="#scrollpic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right fa fa-angle-right " aria-hidden="true" style="font-size: 50px;"></span>
                <span class="sr-only">下图</span>
            </a>
        </div>

        <div class="container" style="width: 1170px;">
            <div class="con row clearfix">
                <div class="" style="padding-left: 0px;padding-right: 20px;width: 877px;float:left">
                    <div class="header-zone">
                        微信公众号
                        <span class="tips">--优质公众号资源</span>
                    </div>

                    <div class="nav-controls">
                        <ul class="clearfix list-unstyled weixin_class">
                                                        <li class="active" name="hydh1" categoryid="48">综合媒体</li>
                                                        <li class="" name="hydh2" categoryid="49">时尚潮流</li>
                                                        <li class="" name="hydh3" categoryid="50">互联网/IT</li>
                                                        <li class="" name="hydh4" categoryid="51">娱乐影音</li>
                                                        <li class="" name="hydh5" categoryid="52">财经金融</li>
                                                        <li class="" name="hydh6" categoryid="53">母婴育儿</li>
                                                    </ul>
                    </div>

                    <ul class="nav-controls-tab item-zone clearfix list-unstyled weixin_list">
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_359.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=Guokr42_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_359.htm" target="_blank" class="tab-img">果壳网</a></h4>
                                <p class="zone-info"><a href="/wxdetails_359.htm" target="_blank" class="tab-img">果壳网（Guokr.com）是开放、多元的泛科技兴趣社区。</a></p>
                                <p class="has-icon-weixin">公众号：<a title="Guokr42" href="/wxdetails_359.htm" target="_blank" class="tab-img">Guokr42</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">51.0万</span></p>
                            </div>
                        </li>
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_2105.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=Peopleweekly_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_2105.htm" target="_blank" class="tab-img">南方人物周刊</a></h4>
                                <p class="zone-info"><a href="/wxdetails_2105.htm" target="_blank" class="tab-img"> </a></p>
                                <p class="has-icon-weixin">公众号：<a title="Peopleweekly" href="/wxdetails_2105.htm" target="_blank" class="tab-img">Peopleweekly</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">17.0万</span></p>
                            </div>
                        </li>
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_1567.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=wcweekly_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_1567.htm" target="_blank" class="tab-img">世界华人周刊</a></h4>
                                <p class="zone-info"><a href="/wxdetails_1567.htm" target="_blank" class="tab-img">全球视野，家国情怀，华人世界里可思、可乐、涨姿势的品牌文化读物。</a></p>
                                <p class="has-icon-weixin">公众号：<a title="wcweekly" href="/wxdetails_1567.htm" target="_blank" class="tab-img">wcweekly</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">8.0万</span></p>
                            </div>
                        </li>
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_2109.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=lifeweek_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_2109.htm" target="_blank" class="tab-img">三联生活周刊</a></h4>
                                <p class="zone-info"><a href="/wxdetails_2109.htm" target="_blank" class="tab-img">一本杂志和他倡导的生活。</a></p>
                                <p class="has-icon-weixin">公众号：<a title="lifeweek" href="/wxdetails_2109.htm" target="_blank" class="tab-img">lifeweek</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">300.0万</span></p>
                            </div>
                        </li>
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_2104.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=nanrenzhuanti_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_2104.htm" target="_blank" class="tab-img">男人帮杂志</a></h4>
                                <p class="zone-info"><a href="/wxdetails_2104.htm" target="_blank" class="tab-img">我们会每天为您分享一些关于男人穿着，恋爱，汽车，娱乐，数码，健康等方面的精彩信息，希望您能喜欢！</a></p>
                                <p class="has-icon-weixin">公众号：<a title="nanrenzhuanti" href="/wxdetails_2104.htm" target="_blank" class="tab-img">nanrenzhuanti</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">17.0万</span></p>
                            </div>
                        </li>
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_1462.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=duhaoshu_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_1462.htm" target="_blank" class="tab-img">十点读书</a></h4>
                                <p class="zone-info"><a href="/wxdetails_1462.htm" target="_blank" class="tab-img">深夜十点，陪你读书，美好的生活方式。好书/故事/美文/电台/美学。</a></p>
                                <p class="has-icon-weixin">公众号：<a title="duhaoshu" href="/wxdetails_1462.htm" target="_blank" class="tab-img">duhaoshu</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">102.0万</span></p>
                            </div>
                        </li>
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_1578.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=xinwenzaocan_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_1578.htm" target="_blank" class="tab-img">新闻早餐</a></h4>
                                <p class="zone-info"><a href="/wxdetails_1578.htm" target="_blank" class="tab-img">新闻大事早知道，每天人工筛选各大新闻源最有价值的内容，分分钟让您通览时事要闻、财经体育、娱乐健康、社会生活、历史上的今天等快讯，阅读精美文章，传播正能量，尽在新闻早餐，每天清晨，不见不散！</a></p>
                                <p class="has-icon-weixin">公众号：<a title="xinwenzaocan" href="/wxdetails_1578.htm" target="_blank" class="tab-img">xinwenzaocan</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">59.0万</span></p>
                            </div>
                        </li>
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_14.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=coolbuy_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_14.htm" target="_blank" class="tab-img">玩物志</a></h4>
                                <p class="zone-info"><a href="/wxdetails_14.htm" target="_blank" class="tab-img">值得买的未来生活。</a></p>
                                <p class="has-icon-weixin">公众号：<a title="coolbuy" href="/wxdetails_14.htm" target="_blank" class="tab-img">coolbuy</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">58.0万</span></p>
                            </div>
                        </li>
                                                <li class="clearfix">
                            <div class="zone-left">
                                <a href="/wxdetails_2115.htm" target="_blank" class="zone-img">
                                    <img src="http://api.2898.com/readimg.php?type=qr_code&exec=HLJ_SHB_avatar" />
                                </a>

                            </div>
                            <div class="zone-right">
                                <h4><a href="/wxdetails_2115.htm" target="_blank" class="tab-img">生活报</a></h4>
                                <p class="zone-info"><a href="/wxdetails_2115.htm" target="_blank" class="tab-img">关注生活报官方微信，及时发布新闻和各种服务资讯，欢迎亲们收听~</a></p>
                                <p class="has-icon-weixin">公众号：<a title="HLJ_SHB" href="/wxdetails_2115.htm" target="_blank" class="tab-img">HLJ_SHB</a></p>
                                <p class="zone-footer">订阅量：<span class="text-red">43.0万</span></p>
                            </div>
                        </li>
                                            </ul>

                </div>

                <div class="" style="padding:0px;padding-top: 57px;width: 292px;float:left;">
                    <div class="smalltab">
                        <div class="tab-header">热门大号
                            
                        </div>
                        <div class="tab-con">
                            <ul class="tab-wrap hot_list">
                                                                <li wid="1881"> <span class="tab-num active">1</span>
                                    <a href="/wxdetails_1881.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=feidieshuo9527_avatar" alt="飞碟说"></a>
                                    <a class="tab-msg" href="wxdetails_1881.htm" target="_blank"> 飞碟说 </a>
                                    <span class="tab-num-collect">50.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="1273"> <span class="tab-num active">2</span>
                                    <a href="/wxdetails_1273.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=yueduwz_avatar" alt="悦读文摘"></a>
                                    <a class="tab-msg" href="wxdetails_1273.htm" target="_blank"> 悦读文摘 </a>
                                    <span class="tab-num-collect">91.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="439"> <span class="tab-num active">3</span>
                                    <a href="/wxdetails_439.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=dongwuzuikeaiweixin_avatar" alt="动物最可爱"></a>
                                    <a class="tab-msg" href="wxdetails_439.htm" target="_blank"> 动物最可爱 </a>
                                    <span class="tab-num-collect">15.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="196"> <span class="tab-num">4</span>
                                    <a href="/wxdetails_196.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=zhanhao668_avatar" alt="占豪"></a>
                                    <a class="tab-msg" href="wxdetails_196.htm" target="_blank"> 占豪 </a>
                                    <span class="tab-num-collect">72.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="1288"> <span class="tab-num">5</span>
                                    <a href="/wxdetails_1288.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=shidian3650_avatar" alt="十点文摘"></a>
                                    <a class="tab-msg" href="wxdetails_1288.htm" target="_blank"> 十点文摘 </a>
                                    <span class="tab-num-collect">70.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="33"> <span class="tab-num">6</span>
                                    <a href="/wxdetails_33.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=niaoge8_avatar" alt="鸟哥笔记"></a>
                                    <a class="tab-msg" href="wxdetails_33.htm" target="_blank"> 鸟哥笔记 </a>
                                    <span class="tab-num-collect">28.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="788"> <span class="tab-num">7</span>
                                    <a href="/wxdetails_788.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=JiaJiaoZH_avatar" alt="家教智慧"></a>
                                    <a class="tab-msg" href="wxdetails_788.htm" target="_blank"> 家教智慧 </a>
                                    <span class="tab-num-collect">1.5万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="195"> <span class="tab-num">8</span>
                                    <a href="/wxdetails_195.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=newfortune_avatar" alt="新财富杂志"></a>
                                    <a class="tab-msg" href="wxdetails_195.htm" target="_blank"> 新财富杂志 </a>
                                    <span class="tab-num-collect">44.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="82"> <span class="tab-num">9</span>
                                    <a href="/wxdetails_82.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=eduujzb_avatar" alt="家长帮"></a>
                                    <a class="tab-msg" href="wxdetails_82.htm" target="_blank"> 家长帮 </a>
                                    <span class="tab-num-collect">50.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                                <li wid="1880"> <span class="tab-num">10</span>
                                    <a href="/wxdetails_1880.htm" target="_blank" class="tab-img"><img src="http://api.2898.com/readimg.php?type=qr_code&exec=v_movier_avatar" alt="V电影Vmovier"></a>
                                    <a class="tab-msg" href="wxdetails_1880.htm" target="_blank"> V电影Vmovier </a>
                                    <span class="tab-num-collect">40.0万</span>
                                    <span class="tab-collect change_favor"></span>
                                </li>
                                                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="header-blue" style="margin-bottom:60px;">
                精品案例
            </div>

            <div class="nav-controls nav-big case_nav">
                <ul class="clearfix list-unstyled">
                    <li  mark="yhd" ng-click="show(1)" ng-class="{true:'active',false:'other'}[active==1]">1号店</li>
                    <li  mark="xnzx" ng-click="show(2)" ng-class="{true:'active',false:'other'}[active==2]">小牛在线</li>
                    <li  mark="xmz" ng-click="show(3)" ng-class="{true:'active',false:'other'}[active==3]">西门子家电</li>
                    <li  mark="bys" ng-click="show(4)" ng-class="{true:'active',false:'other'}[active==4]">白云山金戈</li>
                    <li  mark="sd" ng-click="show(5)" ng-class="{true:'active',false:'other'}[active==5]">顺电</li>
                    <li  mark="jmj" ng-click="show(6)" ng-class="{true:'active',false:'other'}[active==6]">九毛九</li>
                </ul>
                <!-- <a class="tab-more mored" target="_blank" href="weixinbuy.htm">更多&gt;</a> -->
            </div>

            <div class="case-big clearfix" mark="yhd" ng-show="active==1">
                <div class="case-img">
                    <div class="case-imgcon">
                        <img src="/static/images/weixin/01.jpg" alt="1号店">
                    </div>
                </div>
                <div class="case-right">
                    <div class="case-title">1号店</div>
                    <div class="case-info bottom-line">1号店是国内一家网上超市，每一个商品皆能确保高质量并以低成本、快速度、高效率的流通，让顾客充分享受全新的生活方式和实惠方便的购物。</div>
                    <p class="case-info has-icon-msg">
                        <span class="info-title">品牌诉求：</span> 因为每年热闹的双十二全民购物狂欢派对，1号店都不会轻易错过。借此1号店大力发展72h全球购攻略，利用社会化媒体高效传播，激发用户购物欲，提高购买量。
                    </p>
                    <p class="case-info has-icon-broadcast">
                        <span class="info-title">传播策略：</span> 在全球购趋势热度不减的情况下，1号店借助双十二购物狂欢之际，通过微信媒体、KOL本地意见领袖资源等多种渠道进行人脉口碑传播，短时间覆盖网络，大大提高了整个活动声量，刺激全民参与。
                    </p>
                    <p class="case-info has-icon-check-circle">
                        <span class="info-title">适合产品（目标）：</span> 电商类、活动传播
                    </p>
                    <p class="case-info has-icon-chart">
                        <span class="info-title">传播效果：</span>
                    </p>
                    <ul class="case-data clearfix">
                        <li>
                            <div class="data-title">覆盖量</div>
                            <div class="data-count">3800W+</div>
                        </li>
                        <li>
                            <div class="data-title">阅读量</div>
                            <div class="data-count">1161W+</div>
                        </li>
                        <li>
                            <div class="data-title">点赞量</div>
                            <div class="data-count">28.6W+</div>
                        </li>
                    </ul>
                    <div class="case-title">合作公众号：</div>
                    <div class="case-relate">
                        <ul class="clearfix">
                            <li class="clearfix">
                                <a href="wxdetails_2196.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=e41b343d3a3c416859f2c10a5a1b4371" alt="手把手教你玩电商">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_2196.htm" target="_blank">手把手教你玩电商</a>
                                    </div>
                                    <div class="relate-data">粉丝量：5.6W</div>

                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_354.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=ds-focus_avatar" alt="电商聚焦">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_354.htm" target="_blank">电商聚焦</a>
                                    </div>
                                    <div class="relate-data">粉丝量：20W</div>

                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_2059.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=swdtzq_avatar" alt="商业学府">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_2059.htm" target="_blank">商业学府</a>
                                    </div>
                                    <div class="relate-data">粉丝量：57W</div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="case-big clearfix" mark="xnzx" ng-show="active==2">
                <div class="case-img">
                    <div class="case-imgcon">
                        <img src="/static/images/weixin/02.jpg" alt="小牛在线">
                    </div>
                </div>
                <div class="case-right">
                    <div class="case-title">小牛在线</div>
                    <div class="case-info bottom-line">小牛在线是一家P2P网络金融服务平台，致力于解决中小微企业融资难的问题，为广大持有资金的用户提供便捷、安全、可靠、稳定的投资收益，实现全民财富的保值增值。</div>
                    <p class="case-info has-icon-msg">
                        <span class="info-title">品牌诉求：</span> 小牛P2P希望借力社会化媒体营销，以提升其在行业内的公信力，提升品牌优势，普及普通用户，从而吸引更多潜在用户发展为最终用户。
                    </p>
                    <p class="case-info has-icon-broadcast">
                        <span class="info-title">传播策略：</span> 小牛P2P为吸纳更多新用户，特举办免费注册送200元红包活动，以此吸引大量用户注册体验与了解平台及产品，使获取一个注册用户的成本远低于行业水平，最终提升潜在用户的转化率和平台认可度。
                    </p>
                    <p class="case-info has-icon-check-circle">
                        <span class="info-title">适合产品（目标）：</span> 金融行业传播、金融产品传播
                    </p>
                    <p class="case-info has-icon-chart">
                        <span class="info-title">传播效果：</span>
                    </p>
                    <ul class="case-data clearfix">
                        <li>
                            <div class="data-title">覆盖量</div>
                            <div class="data-count">5000W+</div>
                        </li>
                        <li>
                            <div class="data-title">阅读量</div>
                            <div class="data-count">1850W+</div>
                        </li>
                        <li>
                            <div class="data-title">点赞量</div>
                            <div class="data-count">235.8W+</div>
                        </li>
                    </ul>
                    <div class="case-title">合作公众号：</div>
                    <div class="case-relate">
                        <ul class="clearfix">
                            <li class="clearfix">
                                <a href="wxdetails_195.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=newfortune_avatar" alt="新财富杂志">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_195.htm" target="_blank">新财富杂志</a>
                                    </div>
                                    <div class="relate-data">粉丝量：44W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_196.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=zhanhao668_avatar" alt="占豪">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_196.htm" target="_blank">占豪</a>
                                    </div>
                                    <div class="relate-data">粉丝量：72W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_194.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=liuxb0929_avatar" alt="天天说钱">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_194.htm" target="_blank">天天说钱</a>
                                    </div>
                                    <div class="relate-data">粉丝量：78W</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="case-big clearfix" mark="xmz" ng-show="active==3">
                <div class="case-img">
                    <div class="case-imgcon">
                        <img src="/static/images/weixin/03.jpg" alt="西门子家电">
                    </div>
                </div>
                <div class="case-right">
                    <div class="case-title">西门子家电</div>
                    <div class="case-info bottom-line">西门子是全球电子电气工程领域的领先企业、也是全球家电行业的领航者之一。</div>
                    <p class="case-info has-icon-msg">
                        <span class="info-title">品牌诉求：</span> 6月，西门子家电“有灵感不无聊”为主题，线上线下同步进行的公关活动，提升西门子在消费者心目中的形象和声誉。 围绕西门子家电创新科技启发生活灵感想象，以“有灵感不无聊”为公关主题，从生活无聊的场景出发引发大众的情景共鸣，积极参与到发现身边灵感的分享与讨论中。活动分三个阶段进行网络传播和活动宣传，提高大众参与热情的同时，极大提升西门子创新科技的品牌形象。
                    </p>
                    <p class="case-info has-icon-broadcast">
                        <span class="info-title">传播策略：</span> 在传播的过程中，充分结合广州本地的特色文化和创意建筑，通过微博新媒体、社区、新闻、KOL本地意见领袖资源等多种渠道，进行话题事件炒作，提高了整个活动的传播力度。
                    </p>
                    <p class="case-info has-icon-check-circle">
                        <span class="info-title">适合产品（目标）：</span> 电器类传播、品牌推广
                    </p>
                    <p class="case-info has-icon-chart">
                        <span class="info-title">传播效果：</span>
                    </p>
                    <ul class="case-data clearfix">
                        <li>
                            <div class="data-title">覆盖量</div>
                            <div class="data-count">1000W+</div>
                        </li>
                        <li>
                            <div class="data-title">阅读量</div>
                            <div class="data-count">100W+</div>
                        </li>
                        <li>
                            <div class="data-title">点赞量</div>
                            <div class="data-count">3W+</div>
                        </li>
                    </ul>
                    <div class="case-title">合作公众号：</div>
                    <div class="case-relate">
                        <ul class="clearfix">
                            <li class="clearfix">
                                <a href="wxdetails_1.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=zuiheikeji_avatar" alt="最黑科技">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_1.htm" target="_blank">最黑科技</a>
                                    </div>
                                    <div class="relate-data">粉丝量：35W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_45.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=gupo520_avatar" alt="姑婆那些事儿">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_45.htm" target="_blank">姑婆那些事儿</a>
                                    </div>
                                    <div class="relate-data">粉丝量：5W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_1779.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=pinpaimima_avatar" alt="首席品牌官">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_1779.htm" target="_blank">首席品牌官</a>
                                    </div>
                                    <div class="relate-data">粉丝量：4W</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="case-big clearfix" mark="bys" ng-show="active==4">
                <div class="case-img">
                    <div class="case-imgcon">
                        <img src="/static/images/weixin/04.jpg" alt="白云山金戈">
                    </div>
                </div>
                <div class="case-right">
                    <div class="case-title">白云山金戈</div>
                    <div class="case-info bottom-line">广州白云山制药股份有限公司是我国制药行业最具实力的大型知名企业。被国际权威机构评为2002年78家医药类上市公司经营状况第一名，核心竞争力第四名，公司价值第五名。</div>
                    <p class="case-info has-icon-msg">
                        <span class="info-title">品牌诉求：</span> 广药白云山“金戈”产品 批件审批完成，成为国内一家生产“伟哥”类型产品企业。为“金戈”新品发布会制造悬念，网络提高受众关注，塑造“金戈”国内的品牌形象。
                    </p>
                    <p class="case-info has-icon-broadcast">
                        <span class="info-title">传播策略：</span> 以事件炒作的营销方式抛出话题，制造悬念，同时通过多媒体维度为新品发布推波助澜，最后通过新闻媒体制造正面口碑，短时间高效覆盖网络。
                    </p>
                    <p class="case-info has-icon-check-circle">
                        <span class="info-title">适合产品（目标）：</span> 品牌推广
                    </p>
                    <p class="case-info has-icon-chart">
                        <span class="info-title">传播效果：</span>
                    </p>
                    <ul class="case-data clearfix">
                        <li>
                            <div class="data-title">覆盖量</div>
                            <div class="data-count">1500W+</div>
                        </li>
                        <li>
                            <div class="data-title">阅读量</div>
                            <div class="data-count">180W+</div>
                        </li>
                        <li>
                            <div class="data-title">点赞量</div>
                            <div class="data-count">9W+</div>
                        </li>
                    </ul>
                    <div class="case-title">合作公众号：</div>
                    <div class="case-relate">
                        <ul class="clearfix">
                            <li class="clearfix">
                                <a href="wxdetails_151.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=bfaner_avatar" alt="商务范">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_151.htm" target="_blank">商务范</a>
                                    </div>
                                    <div class="relate-data">粉丝量：106W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_416.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=adquan_2012_avatar" alt="广告门">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_416.htm" target="_blank">广告门</a>
                                    </div>
                                    <div class="relate-data">粉丝量：9W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_1810.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=guanggaojie8_avatar" alt="营销最前线">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_1810.htm" target="_blank">营销最前线</a>
                                    </div>
                                    <div class="relate-data">粉丝量：20W</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="case-big clearfix" mark="sd" ng-show="active==5">
                <div class="case-img">
                    <div class="case-imgcon">
                        <img src="/static/images/weixin/05.jpg" alt="顺电">
                    </div>
                </div>
                <div class="case-right">
                    <div class="case-title">顺电</div>
                    <div class="case-info bottom-line">深圳市顺电连锁股份有限公司，是一家专门销售家用电器（包括手机、电脑、数码相机）的零售商。顺电每一家门店有以下特点：高品质商品、丰富选择、专业服务。</div>
                    <p class="case-info has-icon-msg">
                        <span class="info-title">品牌诉求：</span> 8月，顺电想借助大家对热门音乐节目中国好声音，发一起一场大型的活动，线上线下同步传播，提高大众对顺电的关注度，提升顺电的知名度，通过线下活动的参与带动门店销售。 借助“中国好声音”等音乐选秀节目的契机，短时间传播“顺电·寻找音乐梦想”的主题，为线上微信活动和线下寻宝活动引流，吸引公众对活动的关注和参与，强化品牌认同与体验。
                    </p>
                    <p class="case-info has-icon-broadcast">
                        <span class="info-title">传播策略：</span> 把顺电与音乐梦想巧妙地结合，通过微博、微信、豆瓣等媒体多角度传播，同时音乐达人到店拍摄宣传推荐，充分运用KOL的影响力，对整个活动进行升温。
                    </p>
                    <p class="case-info has-icon-check-circle">
                        <span class="info-title">适合产品（目标）：</span> 科技类传播、家电活动
                    </p>
                    <p class="case-info has-icon-chart">
                        <span class="info-title">传播效果：</span>
                    </p>
                    <ul class="case-data clearfix">
                        <li>
                            <div class="data-title">覆盖量</div>
                            <div class="data-count">300W+</div>
                        </li>
                        <li>
                            <div class="data-title">阅读量</div>
                            <div class="data-count">350W+</div>
                        </li>
                        <li>
                            <div class="data-title">点赞量</div>
                            <div class="data-count">9W+</div>
                        </li>
                    </ul>
                    <div class="case-title">合作公众号：</div>
                    <div class="case-relate">
                        <ul class="clearfix">
                            <li class="clearfix">
                                <a href="wxdetails_27.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=iFangDu_avatar" alt="放毒">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_27.htm" target="_blank">放毒</a>
                                    </div>
                                    <div class="relate-data">粉丝量：6W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_43.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=loveshuma_avatar" alt="数码工坊">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_43.htm" target="_blank">数码工坊</a>
                                    </div>
                                    <div class="relate-data">粉丝量：21W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_54.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=zeeke888_avatar" alt="智客">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_54.htm" target="_blank">智客</a>
                                    </div>
                                    <div class="relate-data">粉丝量：6W</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="case-big clearfix" mark="jmj" ng-show="active==6">
                <div class="case-img">
                    <div class="case-imgcon">
                        <img src="/static/images/weixin/06.jpg" alt="九毛九">
                    </div>
                </div>
                <div class="case-right">
                    <div class="case-title">九毛九</div>
                    <div class="case-info bottom-line">九毛九的产品线是面粹、粗粮、陈醋、百草羊。以传统山西手工面为主：手擀面、刀削面、一根面、剪刀面、猫耳朵等8大面艺；将历史悠久、营养健康的传统手工面，通过热情的服务、实惠的价格、诚信的经营理念、持续的拓展及勤俭、节约、厚道的优良传统，奉献给全国的消费者。</div>
                    <p class="case-info has-icon-msg">
                        <span class="info-title">品牌诉求：</span> 每年的9月9日都为九毛九的品牌日。以“九毛九的品牌日”为契机进行事件营销，提升九毛九品牌的知名度，并促进消费者进店消费。 围绕“阿MAY与地铁男”在九毛九相遇的事件，贯穿整个传播。 事件分三阶段进行。 第一阶段：女主角阿MAY登报寻人，寻找在九毛九一见钟情的男士。 第二阶段：九毛九登报响应该事件，并提供场地及面食于女主角，并决定9月9日当日所有九毛九门店的全场手工面为9.99元。
                    </p>
                    <p class="case-info has-icon-broadcast">
                        <span class="info-title">传播策略：</span> 围绕“阿MAY与地铁男”在九毛九相遇的事件，通过纸媒、官方微信、电视媒体、微信大号资源等多种渠道，进行话题事件炒作，实现传播与销售双面结合。
                    </p>
                    <p class="case-info has-icon-check-circle">
                        <span class="info-title">适合产品（目标）：</span> 餐饮传播、线上线下推广
                    </p>
                    <p class="case-info has-icon-chart">
                        <span class="info-title">传播效果：</span>
                    </p>
                    <ul class="case-data clearfix">
                        <li>
                            <div class="data-title">覆盖量</div>
                            <div class="data-count">600W+</div>
                        </li>
                        <li>
                            <div class="data-title">阅读量</div>
                            <div class="data-count">750W+</div>
                        </li>
                        <li>
                            <div class="data-title">点赞量</div>
                            <div class="data-count">22W+</div>
                        </li>
                    </ul>
                    <div class="case-title">合作公众号：</div>
                    <div class="case-relate">
                        <ul class="clearfix">
                            <li class="clearfix">
                                <a href="wxdetails_33.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=niaoge8_avatar" alt="鸟哥笔记">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_33.htm" target="_blank">鸟哥笔记</a>
                                    </div>
                                    <div class="relate-data">粉丝量：28W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_347.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=coffeeO2O_avatar" alt="餐饮O2O">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_347.htm" target="_blank">餐饮O2O</a>
                                    </div>
                                    <div class="relate-data">粉丝量：13W</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="wxdetails_2129.htm" target="_blank" class="img">
                                    <img src="//api.2898.com/readimg.php?type=qr_code&exec=huxiu_com_avatar" alt="虎嗅网">
                                </a>
                                <div class="relate-right">
                                    <div class="relate-title">
                                        <a href="wxdetails_2129.htm" target="_blank">虎嗅网</a>
                                    </div>
                                    <div class="relate-data">粉丝量：88W</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="header-blue">
                合作伙伴
            </div>

            <ul class="item-logo clearfix">
                <li>
                    <img src="/static/images/weixin/logo_baidu.jpg" alt="baidu" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_sougou.jpg" alt="sougou" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_tencent.jpg" alt="tencent" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_163.jpg" alt="163" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_ifeng.jpg" alt="ifeng" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_chinaz.jpg" alt="chinaz" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_mogujie.jpg" alt="mogujie" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_youku.jpg" alt="youku" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_weibo.jpg" alt="weibo" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_aqiyi.jpg" alt="aqiyi" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_360.jpg" alt="360" />
                </li>
                <li>
                    <img src="/static/images/weixin/logo_sohu.jpg" alt="sohu" />
                </li>
            </ul>
        </div>

    </div>

    <!-- main end -->
</div>

<script type="text/javascript" src="/static/js/factory/directive.js"></script>
{include file="footer"}
<script type="text/javascript" src="/static/js/wechat_weixin.js?v=20180903"></script>
<script type = "text/javascript" src = "/static/js/index_message.js?v=20180903"></script>
</body>
</html>