<!-- 底部栏目面板 -->
<div class="js-category-bottom-container"></div>
<!--@end 底部栏目面板 -->
<!-- 底部 -->
<footer class="ui-bottom-bar">
    <a href="http://mw.hahacn.com/?mobile">PC版</a>
    <p>Copyright © 2012-2017 {$webname}. All Rights Reserved</p></footer>
<!--@end 底部 -->
<div class="ui-top-down js-top-down">
<a href="javascript:;" class="ui-gotop js-gotop"></a>
<a href="javascript:;" class="ui-godown js-godown"></a>
</div>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?2e41f3e85a2cc2ec4c5dd6bba743b1c8";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
</script>