<div class="foot"> 
<p class="foot_about">
<a href="http://www.cqmivi.com/gymw/" target="_blank">公司简介</a> 
<a href='#'>发展历程</a> 
<a href='#'>服务协议</a> 
<a href="{:url('page',['p'=>'sm'])}">网站声明</a> 
<a href="http://www.cqmivi.com/lxwm/" target="_blank">联系我们</a> 
<a href="{:url('page',['p'=>'ad'])}">广告服务</a> 
<a href="http://www.hahacn.com/sitemap.xml">网站地图</a>
<a href="http://wpa.qq.com/msgrd?v=3&site=www.cqmivi.com&menu=yes&uin=737597453" target="_blank">商务合作</a>
</p>
Copyright &copy; www.hahacn.com {$webname} 版权所有 工信部备案：渝ICP备16007400号-3<br/>
  本站所有资讯来源于网络 如有侵权请联系QQ：<a href="http://wpa.qq.com/msgrd?v=3&site=www.cqmivi.com&menu=yes&uin=737597453" target="_blank">737597453</a> <b>技术支持</b>：<a href="http://www.cqmivi.com" target="_blank">米微科技</a></div>
<a href="#0" class="cd-top">Top</a>
<!--百度统计-->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?2e41f3e85a2cc2ec4c5dd6bba743b1c8";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
  <!--百度统计-->
  <script type="text/javascript" src="/static/js/alipay_hb.js"></script>
</body>
</html>